@charset "UTF-8";
html,
body {
  font-family: "Montserrat", "Noto Sans TC", sans-serif, Arial, "Microsoft JhengHei", Helvetica;
  font-size: 17px;
  line-height: 1.7;
  color: #000; }
  @media only screen and (max-width: 1679px) {
    html,
    body {
      font-size: 15px; } }
  @media only screen and (max-width: 959px) {
    html,
    body {
      font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    html,
    body {
      font-size: 12.5px; } }

a,
button {
  outline: none; }

[data-fadeIn] {
  opacity: 0; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

img {
  width: 100%; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

html,
body {
  height: 100%; }

.container {
  min-height: 100vh;
  overflow: hidden; }

.darkBg.header .logo img,
.darkBg.header .signUp img {
  opacity: 0; }

.darkBg.header .logo::after,
.darkBg.header .signUp::after {
  opacity: 1; }

.darkBg.header .burger-bar {
  background-color: #fff; }

/* ------------------------------- Header ------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99; }
  .header-wrap {
    position: relative; }
  .header-head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px; }
  .header-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: .4s;
    visibility: hidden;
    opacity: 0; }
  .menuOpen .header-nav {
    visibility: visible;
    opacity: 1; }
  .header .logo {
    position: relative;
    display: inline-block;
    width: 99px; }
    .header .logo img {
      transition: .4s; }
    .header .logo::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-image: url(../images/logo/header-wt.png);
      background-size: 100%;
      opacity: 0;
      transition: .4s; }
  @media only screen and (max-width: 1679px) {
    .header-head {
      height: 72px; }
    .header .logo {
      width: 86px; } }
  @media only screen and (max-width: 767px) {
    .header-head {
      height: 60px; } }

.burger {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 28px;
  height: 28px;
  padding: 28px;
  z-index: 50; }
  .burger-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 2.5px;
    background-color: #000;
    border-radius: 1.5px;
    transition: .4s; }
    .burger-bar:first-of-type {
      transform: translate(-50%, calc(-50% - 8px)); }
    .burger-bar:last-of-type {
      transform: translate(-50%, calc(-50% + 8px)); }
  .menuOpen .burger-bar {
    background-color: #fff; }
    .menuOpen .burger-bar:first-of-type {
      transform: translate(-50%, -50%) rotate(-45deg); }
    .menuOpen .burger-bar:nth-of-type(2) {
      opacity: 0; }
    .menuOpen .burger-bar:last-of-type {
      transform: translate(-50%, -50%) rotate(45deg); }
  @media only screen and (max-width: 1679px) {
    .burger {
      width: 24px;
      height: 24px;
      padding: 24px; }
      .burger-bar {
        width: 24px; }
        .burger-bar:first-of-type {
          transform: translate(-50%, calc(-50% - 7px)); }
        .burger-bar:last-of-type {
          transform: translate(-50%, calc(-50% + 7px)); } }
  @media only screen and (max-width: 767px) {
    .burger {
      width: 20px;
      height: 20px;
      padding: 20px; }
      .burger-bar {
        width: 20px;
        height: 2px;
        border-radius: 1px; }
        .burger-bar:first-of-type {
          transform: translate(-50%, calc(-50% - 6px)); }
        .burger-bar:last-of-type {
          transform: translate(-50%, calc(-50% + 6px)); } }

.signUp {
  position: absolute;
  top: 100%;
  left: 0;
  width: 84px; }
  .signUp img {
    transition: .4s; }
  .signUp::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../images/icon/signUp-wt.svg);
    background-size: 100%;
    opacity: 0;
    transition: .4s; }
  @media only screen and (max-width: 1679px) {
    .signUp {
      width: 72px; } }
  @media only screen and (max-width: 959px) {
    .signUp {
      top: 0;
      right: 0;
      left: auto; } }
  @media only screen and (max-width: 767px) {
    .signUp {
      width: 60px; } }

.nav {
  display: flex;
  width: 100%;
  padding: 6.6em 0 4.75em 12em;
  background-color: #000; }
  .nav-item {
    flex: 0 0 auto;
    font-weight: 600;
    color: #fff;
    text-decoration: none; }
    .nav-item p {
      font-size: 32px; }
    .nav-item + .nav-item {
      margin-left: 4.94em; }
  @media only screen and (max-width: 1679px) {
    .nav {
      padding: 6.6em 0 4.75em 10em; }
      .nav-item p {
        font-size: 28px; } }
  @media only screen and (max-width: 959px) {
    .nav {
      display: block;
      padding: 5.6em 0 4em 8em; }
      .nav-item {
        display: block; }
        .nav-item p {
          font-size: 26px; }
        .nav-item + .nav-item {
          margin-left: 0;
          margin-top: 2.5em; } }
  @media only screen and (max-width: 767px) {
    .nav {
      padding: 4.5em 0 3.5em 5em; }
      .nav-item p {
        font-size: 23px; }
      .nav-item + .nav-item {
        margin-left: 0;
        margin-top: 1.5em; } }

/* ------------------------------- Main ------------------------------- */
/* ------------------------------- Footer ------------------------------- */
.footer {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  background-color: #000; }
  .footer-wrap {
    position: relative;
    box-sizing: border-box;
    max-width: 1680px;
    margin: auto;
    padding: 0 40px; }
    @media only screen and (max-width: 959px) {
      .footer-wrap {
        padding: 0 30px; } }
    @media only screen and (max-width: 767px) {
      .footer-wrap {
        padding: 0 20px; } }
  .footer-top, .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer-top {
    padding: 40px 0 26px 0; }
  .footer-bottom {
    padding: 26px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .footer-right {
    text-align: right; }
  .footer a {
    color: #fff;
    text-decoration: none; }
  .footer .logo {
    display: block;
    width: 79px;
    margin-bottom: 16px;
    padding: 3px 0; }
  .footer .social {
    display: flex;
    margin: 0;
    margin-bottom: 16px; }
    .footer .social-item {
      box-sizing: border-box;
      flex: 0 0 auto;
      width: 34px;
      margin-left: 9px;
      border: 2px solid #fff;
      border-radius: 50%; }
  @media only screen and (max-width: 959px) {
    .footer {
      font-size: 12px; }
      .footer-top {
        padding: 30px 0 16px 0; }
      .footer-bottom {
        padding: 16px 0; }
      .footer .logo {
        width: 68px;
        margin-bottom: 6px; }
      .footer .social {
        margin-bottom: 6px; }
        .footer .social-item {
          width: 30px; } }

.float {
  position: fixed;
  bottom: 1.76em;
  right: 2.7em;
  z-index: 10;
  display: flex;
  align-items: center;
  transition: .4s; }
  .float-text {
    flex: 0 0 auto;
    font-size: 19px;
    font-weight: 300;
    color: #000; }
  .float-icon {
    position: relative;
    flex: 0 0 auto;
    width: 2.65em;
    margin-left: 1.24em; }
    .float-icon img {
      transition: .4s; }
    .float-icon::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-image: url(../images/logo/simple-wt.svg);
      background-size: 100%;
      opacity: 0;
      transition: .4s; }
  .float.hide {
    opacity: 0; }
  @media only screen and (max-width: 1679px) {
    .float-text {
      font-size: 17px; } }
  @media only screen and (max-width: 959px) {
    .float-text {
      font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .float {
      right: 20px; }
      .float-text {
        font-size: 14px; } }

.darkBg.float .float-text {
  color: #fff; }

.darkBg.float .float-icon img {
  opacity: 0; }

.darkBg.float .float-icon::after {
  opacity: 1; }

.btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 17px 0 15px 0;
  font-size: 23px;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 0;
  cursor: pointer;
  transition: .4s; }
  .btn.sub {
    margin: 32px 0;
    color: #fff;
    border: 1px solid #454346;
    background-color: #454346; }
  @media only screen and (min-width: 960px) {
    .btn:hover {
      color: #fff;
      border: 1px solid #000;
      background-color: #000; } }
  @media only screen and (max-width: 1679px) {
    .btn {
      font-size: 21px; } }
  @media only screen and (max-width: 959px) {
    .btn {
      margin: 26px 0;
      padding: 14px 0 12px 0;
      font-size: 19px; } }
  @media only screen and (max-width: 767px) {
    .btn {
      font-size: 17px; } }

.btnBlock {
  position: relative;
  display: block;
  color: #fff; }
  .btnBlock .bg {
    position: relative; }
    .btnBlock .bg::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.5) 38%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.8;
      transition: .4s; }
  .btnBlock .content {
    display: flex;
    justify-content: center;
    align-items: center; }
  .btnBlock .arrow {
    position: absolute;
    bottom: 6.25%;
    left: 50%;
    transform: translateX(-50%);
    width: 26px;
    height: 26px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-image: url(../images/icon/arrow-wt.svg);
    background-size: 150%;
    background-position: center;
    transition: .4s; }
  @media only screen and (min-width: 960px) {
    .btnBlock:hover .bg::after {
      opacity: 1; }
    .btnBlock:hover .arrow {
      background-position: center -250%; } }
  .btnBlock .title {
    flex: 0 0 auto;
    max-width: 100%; }
    .btnBlock .title-text {
      margin-top: 16px; }
  @media only screen and (max-width: 959px) {
    .btnBlock .bg {
      display: flex;
      justify-content: center;
      overflow: hidden; }
      .btnBlock .bg img {
        width: 150%; }
      .btnBlock .bg::after {
        opacity: 1; } }
  @media only screen and (max-width: 767px) {
    .btnBlock .arrow {
      bottom: 8%;
      width: 18px;
      height: 18px; }
    .btnBlock .title-main {
      font-size: 26px; }
    .btnBlock .title-text {
      font-size: 12px; } }

.testAction {
  display: inline-block;
  padding: 0.25em 1em 0.1875em 1em;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  background-color: #000;
  cursor: pointer;
  transition: .4s; }
  .testAction.disable {
    pointer-events: none;
    cursor: auto;
    opacity: 0.35; }
  .testQA .testAction {
    margin-top: 1.3125em; }
  @media only screen and (max-width: 1679px) {
    .testAction {
      font-size: 28px; } }
  @media only screen and (max-width: 959px) {
    .testAction {
      font-size: 26px;
      border-radius: 6px; } }
  @media only screen and (max-width: 767px) {
    .testAction {
      font-size: 23px; } }

.wrap {
  position: relative;
  box-sizing: border-box;
  max-width: 1680px;
  height: 100%;
  margin: auto;
  padding: 0 40px; }
  @media only screen and (max-width: 959px) {
    .wrap {
      padding: 0 30px; } }
  @media only screen and (max-width: 767px) {
    .wrap {
      padding: 0 20px; } }

.block {
  position: relative; }
  .block.oneScreen {
    box-sizing: border-box;
    height: 100vh;
    min-height: 500px;
    border-bottom: 1px solid #000; }
    .block.oneScreen::after {
      content: none; }
  .block::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #000, transparent); }
  .block .bg {
    position: relative;
    height: 100%; }
  .block .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .block:last-of-type::after {
    content: none; }
  .block#testResult {
    height: auto;
    min-height: 100vh; }
  .block.hide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none; }

@-webkit-keyframes bgFade {
  0% {
    opacity: 1; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; }
  40% {
    opacity: 1; }
  70% {
    opacity: 1; }
  80% {
    opacity: 0.5; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes bgFade {
  0% {
    opacity: 1; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; }
  40% {
    opacity: 1; }
  70% {
    opacity: 1; }
  80% {
    opacity: 0.5; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

#kv .bg div {
  position: absolute;
  -webkit-animation-name: bgFade;
          animation-name: bgFade;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

#kv .bg .og {
  width: 42.3%;
  top: 0;
  left: 0;
  -webkit-animation-duration: 12s;
          animation-duration: 12s; }

#kv .bg .ogYw {
  width: 60.5%;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  animation-direction: reverse; }

#kv .bg .buYw {
  width: 56.9%;
  top: 0;
  right: 0;
  -webkit-animation-duration: 20s;
          animation-duration: 20s; }

#kv .wrap {
  display: flex;
  justify-content: center;
  align-items: center; }

@media only screen and (max-width: 959px) {
  #kv .bg .og {
    width: 60%;
    top: 0;
    transform: rotate(-90deg) rotateY(180deg);
    transform-origin: top left; }
  #kv .bg .ogYw {
    width: 80%; }
  #kv .bg .buYw {
    width: 80%; } }

@media only screen and (max-width: 767px) {
  #kv .bg .og {
    width: 100%; }
  #kv .bg .ogYw {
    width: 100%; }
  #kv .bg .buYw {
    width: 80%; } }

.guideBtn {
  position: absolute;
  bottom: 7.6%;
  left: 50%;
  transform: translateX(-50%); }
  .guideBtn a {
    box-sizing: border-box;
    padding: 6px 22px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 17px;
    background-color: #fff; }
  @media only screen and (max-width: 1679px) {
    .guideBtn a {
      padding: 5px 19px;
      font-size: 12px;
      border: 1px solid #000;
      border-radius: 13.5px; } }

#guide .bg {
  overflow: hidden; }
  #guide .bg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-width: 203.3vh; }

#guide .wrap {
  display: flex;
  justify-content: center;
  align-items: center; }

@media only screen and (max-width: 959px) {
  #guide .bg img {
    min-width: 100vh; } }

#intro .wrap {
  display: flex;
  justify-content: center;
  align-items: center; }

.intro-content {
  height: 46%;
  min-height: 400px; }
  .intro-content .title {
    box-sizing: border-box;
    padding: 0 30px; }

.intro-img {
  position: relative;
  height: 54%;
  max-height: calc(100% - 400px);
  overflow: hidden; }
  .intro-img img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 203vh;
    min-height: 54vh; }

@media only screen and (max-width: 959px) {
  .intro-content .title {
    padding: 0; } }

#curator {
  padding: 176px 0 187px 0; }
  @media only screen and (max-width: 1679px) {
    #curator {
      padding: 153px 0 163px 0; } }
  @media only screen and (max-width: 959px) {
    #curator {
      padding: 141px 0 150px 0; } }
  @media only screen and (max-width: 767px) {
    #curator {
      padding: 80px 0 90px 0; } }

#brand {
  padding: 112px 0 177px 0; }
  @media only screen and (max-width: 1679px) {
    #brand {
      padding: 97px 0 154px 0; } }
  @media only screen and (max-width: 959px) {
    #brand {
      padding: 141px 0 150px 0; } }
  @media only screen and (max-width: 767px) {
    #brand {
      padding: 80px 0 90px 0; } }

.graphic {
  display: flex; }
  .graphic-img {
    flex: 0 0 auto;
    order: 2;
    width: 43%;
    min-width: 400px;
    margin-left: 8%; }
  .graphic-content {
    flex: 1;
    order: 1; }
  @media only screen and (max-width: 959px) {
    .graphic {
      flex-wrap: wrap; }
      .graphic-img {
        flex: 0 0 100%;
        order: 1;
        min-width: auto;
        margin-left: 0%; }
      .graphic-content {
        flex: 0 0 100%;
        order: 2;
        margin-top: 40px; } }

#event {
  padding-top: 168px; }
  #event .title {
    margin-bottom: 0; }
  @media only screen and (max-width: 1679px) {
    #event {
      padding-top: 146px; } }
  @media only screen and (max-width: 959px) {
    #event {
      padding-top: 141px; } }
  @media only screen and (max-width: 767px) {
    #event {
      padding-top: 80px; } }

#test,
#form {
  padding: 176px 0 64px 0; }
  @media only screen and (max-width: 1679px) {
    #test,
    #form {
      padding: 153px 0 56px 0; } }
  @media only screen and (max-width: 959px) {
    #test,
    #form {
      padding: 141px 0 52px 0; } }
  @media only screen and (max-width: 767px) {
    #test,
    #form {
      padding: 80px 0 47px 0; } }

.grid {
  display: flex; }
  .grid-item {
    flex: 1; }

#form .title {
  margin-bottom: 44px; }

@media only screen and (max-width: 959px) {
  #form .title {
    margin-bottom: 35px; } }

#faq {
  padding: 176px 0; }
  #faq .graphic-img {
    order: 1;
    margin-left: 0%; }
  #faq .graphic-content {
    order: 2;
    margin-left: 8%; }
  #faq .title {
    margin-bottom: 60px; }
  @media only screen and (max-width: 1679px) {
    #faq {
      padding: 153px 0; } }
  @media only screen and (max-width: 959px) {
    #faq {
      padding: 141px 0; }
      #faq .graphic-content {
        margin-left: 0; }
      #faq .title {
        margin-bottom: 40px; } }
  @media only screen and (max-width: 767px) {
    #faq {
      padding: 80px 0; } }

.social {
  margin-top: 86px; }
  .social-action {
    display: flex;
    align-items: center; }
  .social-head + .social-action {
    margin-top: 32px; }
  .social-btn {
    flex: 1; }
  .social-icons {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    .social-icons .fb,
    .social-icons .ig,
    .social-icons .download {
      flex: 0 0 auto;
      width: 62px; }
    .social-icons span {
      flex: 0 0 auto;
      margin-right: 0.55em;
      font-size: 22px; }
  .social-btn + .social-icons {
    margin-left: 20px; }
  .social-icons + .social-btn {
    margin-left: 2.8em; }
  @media only screen and (max-width: 1679px) {
    .social {
      margin-top: 75px; }
      .social-icons span {
        font-size: 19px; } }
  @media only screen and (max-width: 959px) {
    .social-action {
      display: block;
      text-align: center; }
    .social-icons span {
      font-size: 17px; }
    .social-icons .fb,
    .social-icons .ig,
    .social-icons .download {
      width: 50px; }
    .social-head + .social-action {
      margin-top: 26px; }
    .social-btn + .social-icons {
      margin-left: 0;
      margin-top: 10px; }
    .social-icons + .social-btn {
      margin-left: 0; } }

#testForm {
  border-bottom: none; }
  #testForm .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; }
    #testForm .bg img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      min-width: 203.3vh; }
  #testForm .wrap {
    display: flex;
    justify-content: center;
    align-items: center; }
  @media only screen and (max-width: 959px) {
    #testForm .bg img {
      min-width: 100vh; } }

#testIndex,
#testResult {
  border-bottom: none; }
  #testIndex .wrap,
  #testResult .wrap {
    display: flex;
    justify-content: center;
    align-items: center; }

#testIndex .title-sub {
  margin: 22px 0 0 0;
  font-weight: normal; }

#testResult .wrap {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px; }

.testQA {
  width: 100%;
  max-width: 1010px; }
  .testQA.form {
    max-width: 770px; }
  .testQA.form .testQA-content {
    padding-left: 0; }
  .testQA-title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
    font-size: 32px;
    font-weight: bold; }
  .testQA-num {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    line-height: 2.454em;
    padding-right: 1.36em;
    margin-right: 0.27em; }
    .testQA-num::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%) rotate(-90deg);
      display: block;
      width: 1.55em;
      height: 1.55em;
      background-image: url(../images/icon/arrow-bk.svg);
      background-size: 100%; }
  .testQA-content {
    padding-left: 2.47em; }
  @media only screen and (max-width: 1679px) {
    .testQA {
      max-width: 880px; }
      .testQA-title {
        font-size: 28px; }
      .testQA-num {
        font-size: 19px; } }
  @media only screen and (max-width: 959px) {
    .testQA-title {
      font-size: 26px; }
    .testQA-num {
      font-size: 17.5px; } }
  @media only screen and (max-width: 767px) {
    .testQA-title {
      font-size: 21px; }
    .testQA-num {
      font-size: 14px; } }

.result {
  width: 100%;
  max-width: 1010px; }
  .result-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1em; }
  .result-text {
    font-size: 24px;
    margin-top: 0.833em; }
  .result-action {
    margin-top: 2.6em; }
    .result-action .social {
      margin-top: 0; }
  @media only screen and (max-width: 1679px) {
    .result {
      max-width: 880px; }
      .result-title {
        font-size: 28px; }
      .result-text {
        font-size: 21px; } }
  @media only screen and (max-width: 959px) {
    .result-title {
      font-size: 26px; }
    .result-text {
      font-size: 18px; } }
  @media only screen and (max-width: 767px) {
    .result-title {
      font-size: 23px; }
    .result-text {
      font-size: 16px; } }

.card {
  display: flex;
  flex-wrap: wrap; }
  .card-item {
    flex: 0 0 auto;
    box-sizing: border-box;
    width: calc(100% / 6);
    margin-bottom: 25px;
    padding: 0 25px; }
  .card-text {
    margin-top: 17px;
    font-weight: 300; }
    .card-text p {
      font-weight: bold; }
  .card.lg {
    margin: 0 -6px; }
  .card.lg .card-item {
    padding: 0 6px;
    margin-bottom: 12px; }
  @media only screen and (max-width: 1679px) {
    .card-item {
      padding: 0 20px; }
    .card-text {
      margin-top: 15px; } }
  @media only screen and (max-width: 959px) {
    .card {
      margin: 0 -15px; }
      .card-item {
        width: calc(100% / 3);
        padding: 0 15px; }
      .card-text {
        margin-top: 13px; }
      .card.lg {
        margin: 0 -15px; }
      .card.lg .card-item {
        padding: 0 15px;
        margin-bottom: 30px; } }
  @media only screen and (max-width: 767px) {
    .card {
      margin: 0 -10px; }
      .card-item {
        width: calc(100% / 2);
        padding: 0 10px; }
      .card-text {
        margin-top: 11px; }
      .card.lg {
        margin: 0 -10px; }
      .card.lg .card-item {
        padding: 0 10px;
        margin-bottom: 20px; } }

.info-title {
  padding: 8px;
  color: #fff;
  background-color: #000; }

.info-content {
  padding: 14px 0; }

.info + .info {
  position: relative;
  padding-top: 14px; }
  .info + .info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #000, transparent); }

@media only screen and (max-width: 959px) {
  .info-title {
    padding: 6px; }
  .info-content {
    padding: 12px 0; }
  .info + .info {
    padding-top: 12px; } }

table {
  border-collapse: collapse;
  line-height: 1.35; }
  table td {
    border: none; }
    table td:nth-of-type(1) {
      font-weight: bold; }
    table td:nth-of-type(2) {
      padding-left: 22px; }
    table td:nth-of-type(3) {
      padding-left: 12px;
      font-weight: 300; }

.collapse-item {
  border-bottom: 1px solid #000; }
  .collapse-item:first-of-type {
    border-top: 1px solid #000; }

.collapse-head {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 15px 34px 14px 20px;
  font-weight: bold;
  color: #000;
  text-decoration: none; }
  .collapse-head::before {
    content: '． ';
    position: absolute;
    top: 15px;
    left: 0;
    display: block; }
  .collapse-head::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 11px;
    height: 11px;
    display: block;
    background-image: url(../images/icon/plus.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .4s; }

.collapse-content {
  box-sizing: border-box;
  display: none;
  padding: 15px 0 45px 0;
  border-top: 1px dashed #000; }

.active .collapse-head::after {
  transform: translateY(-50%) rotate(135deg); }

.form {
  font-size: 24px; }
  .form-item {
    box-sizing: border-box;
    display: flex;
    padding: 2px 0; }
    .form-item + .form-item {
      margin-top: 0.833em; }
  .form-title {
    flex: 0 0 auto;
    width: 6.25em;
    margin-right: 1.1em;
    font-weight: bold; }
    .form-title.tTustify {
      box-sizing: border-box;
      padding-right: 0.47em;
      -moz-text-align-last: justify;
           text-align-last: justify;
      text-align: justify;
      text-justify: distribute-all-lines; }
    .form-title span {
      display: block;
      font-weight: 300; }
  .form-content {
    flex: 1; }
  @media only screen and (max-width: 1679px) {
    .form {
      font-size: 21px; } }
  @media only screen and (max-width: 959px) {
    .form {
      font-size: 19px; } }
  @media only screen and (max-width: 767px) {
    .form {
      font-size: 17px; }
      .form-item + .form-item {
        margin-top: 1.2em; }
      .form-item {
        display: block; }
      .form-title {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.4em; }
        .form-title.tTustify {
          -moz-text-align-last: left;
               text-align-last: left;
          text-align: left;
          text-justify: unset; }
        .form-title span {
          display: inline;
          padding-left: 5px; } }

.textbox {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #BDC3C4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .textbox.placeholder {
    font-weight: 300;
    color: #BDC3C4; }
  .textbox:-moz-placeholder {
    font-weight: 300;
    color: #BDC3C4; }
  .textbox::-moz-placeholder {
    font-weight: 300;
    color: #BDC3C4; }
  .textbox:-ms-input-placeholder {
    font-weight: 300;
    color: #BDC3C4; }
  .textbox::-webkit-input-placeholder {
    font-weight: 300;
    color: #BDC3C4; }
  .textbox::-webkit-inner-spin-button, .textbox::-webkit-outer-spin-button {
    -webkit-appearance: none; }
  .textbox::-ms-clear {
    display: none; }
  .textbox::-ms-reveal {
    display: none; }
  .textbox::-o-clear {
    display: none; }
  .textbox[type='number'] {
    -moz-appearance: textfield; }
  .textbox:invalid {
    box-shadow: none; }
  .textbox:focus {
    outline: none; }

.radio {
  font-weight: 300; }
  .radio-item {
    position: relative;
    box-sizing: border-box; }
    .radio-item + .radio-item {
      margin-top: 0.42em; }
  .radio-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0; }
  .radio-label {
    position: relative;
    padding-left: 1.5em; }
    .radio-label::before, .radio-label::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 0.917em;
      height: 0.917em;
      border-radius: 2px;
      cursor: pointer; }
    .radio-label::before {
      border: 1px solid #000; }
    .radio-label::after {
      border: 1px solid transparent;
      background-image: url(../images/icon/check.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      opacity: 0; }
  .radio-input:checked ~ .radio-label::after {
    opacity: 1; }
  .radio.inline {
    display: flex; }
  .radio.inline .radio-item {
    flex: 0 0 auto; }
  .radio.inline .radio-item + .radio-item {
    margin-top: 0;
    margin-left: 3.33em; }

.testRadio {
  position: relative;
  border: 1px solid #000000;
  border-radius: 6px; }
  .testRadio-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0; }
  .testRadio-label {
    display: block;
    padding: 0.333em 0.42em 0.333em 2.667em;
    font-size: 24px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgba(170, 170, 170, 0.5);
    cursor: pointer; }
  .testRadio-num {
    position: absolute;
    top: 50%;
    left: 0.455em;
    transform: translateY(-50%);
    box-sizing: border-box;
    width: 2em;
    padding: 1px 0;
    font-size: 22px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #ededed; }
  .testRadio-input:checked ~ .testRadio-num {
    width: 4em;
    color: #fff;
    background-color: #000;
    transform: translate(-50%, -50%); }
    .testRadio-input:checked ~ .testRadio-num::before {
      content: 'KEY '; }
  .testRadio-input:checked ~ .testRadio-label {
    font-weight: bold;
    border: 1px solid #000; }
  @media only screen and (min-width: 960px) {
    .testRadio:hover .testRadio-label {
      background-color: rgba(170, 170, 170, 0.8); }
    .testRadio:hover .testRadio-num {
      transform: translate(-50%, -50%);
      width: 4em; }
      .testRadio:hover .testRadio-num::before {
        content: 'KEY '; } }
  .testRadio + .testRadio {
    margin-top: 1em; }
  @media only screen and (max-width: 1679px) {
    .testRadio-label {
      font-size: 21px; }
    .testRadio-num {
      font-size: 19px; } }
  @media only screen and (max-width: 959px) {
    .testRadio-label {
      font-size: 19px; }
    .testRadio-num {
      font-size: 18px; } }
  @media only screen and (max-width: 767px) {
    .testRadio-label {
      padding: 0.333em 0.22em 0.333em 2.467em;
      font-size: 16px; }
    .testRadio-num {
      left: 0.35em;
      font-size: 15px; } }

ol {
  margin: 0;
  padding-left: 30px; }
  ol > li > ol {
    list-style-type: none;
    padding-left: 32px; }
    ol > li > ol > li {
      position: relative;
      counter-increment: section; }
      ol > li > ol > li::before {
        content: "(" counter(section, decimal) ")";
        position: absolute;
        top: 0;
        left: -5px;
        transform: translateX(-100%); }

.swiper {
  height: 100%; }
  .swiper .swiper-horizontal > .swiper-pagination-bullets,
  .swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper .swiper-pagination-custom,
  .swiper .swiper-pagination-fraction {
    bottom: 0;
    font-size: 0; }
  .swiper .swiper-pagination-bullet {
    width: 25%;
    height: 5px;
    border-radius: 0;
    background-color: #BDC3C4;
    opacity: 1;
    transition: .4s; }
  .swiper .swiper-pagination-bullet-active {
    background-color: #000; }
  .swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0; }
  .swiper .swiper-button-prev,
  .swiper .swiper-rtl .swiper-button-next,
  .swiper .swiper-button-next,
  .swiper .swiper-rtl .swiper-button-prev {
    top: auto;
    left: auto;
    bottom: 24px;
    transform: rotate(90deg);
    margin: 0;
    padding: 0;
    padding: 5px 9px 3px 9px;
    color: #fff;
    background-color: #000; }
    .swiper .swiper-button-prev::after,
    .swiper .swiper-rtl .swiper-button-next::after,
    .swiper .swiper-button-next::after,
    .swiper .swiper-rtl .swiper-button-prev::after {
      font-size: 20px; }
    .swiper .swiper-button-prev:focus,
    .swiper .swiper-rtl .swiper-button-next:focus,
    .swiper .swiper-button-next:focus,
    .swiper .swiper-rtl .swiper-button-prev:focus {
      outline: none; }
  .swiper .swiper-button-prev,
  .swiper .swiper-rtl .swiper-button-next {
    right: 353px;
    border-radius: 0 0 4px 4px; }
  .swiper .swiper-button-next,
  .swiper .swiper-rtl .swiper-button-prev {
    right: 300px;
    border-radius: 4px 4px 0 0; }
  @media only screen and (max-width: 1679px) {
    .swiper .swiper-pagination-bullet {
      height: 4px; } }
  @media only screen and (max-width: 767px) {
    .swiper .swiper-pagination-bullet {
      height: 3px; }
    .swiper .swiper-button-prev,
    .swiper .swiper-rtl .swiper-button-next,
    .swiper .swiper-button-next,
    .swiper .swiper-rtl .swiper-button-prev {
      position: fixed;
      bottom: 14px;
      padding: 3px 6px 2px 6px; }
      .swiper .swiper-button-prev::after,
      .swiper .swiper-rtl .swiper-button-next::after,
      .swiper .swiper-button-next::after,
      .swiper .swiper-rtl .swiper-button-prev::after {
        font-size: 18px; }
    .swiper .swiper-button-prev,
    .swiper .swiper-rtl .swiper-button-next {
      right: auto;
      left: 30px; }
    .swiper .swiper-button-next,
    .swiper .swiper-rtl .swiper-button-prev {
      right: auto;
      left: 80px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

.bold {
  font-weight: bold; }

.title {
  margin-bottom: 113px; }
  .title.vCenter {
    margin-bottom: 0; }
  .title-logo {
    margin-bottom: 32px; }
    .title-logo img {
      width: 72px; }
    .title-logo.sm img {
      width: 54px; }
  .title-main {
    font-size: 46px;
    font-weight: bold; }
    .title-main i {
      display: inline-block;
      width: 32%;
      max-width: 250px;
      border-bottom: 1px solid #000; }
    .title-main span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px; }
      .title-main span.title-sub {
        margin: 0;
        font-weight: normal;
        padding-top: 4px; }
  .title-sub {
    margin: 14px 0;
    font-size: 24px; }
    .title-sub.gapSm {
      margin: 4px 0; }
    .title-sub.gapLg {
      margin: 24px 0 36px 0; }
  .title-text {
    margin-top: 28px; }
  .title.tCenter {
    text-align: center; }
  @media only screen and (max-width: 1679px) {
    .title {
      margin-bottom: 98px; }
      .title-logo {
        margin-bottom: 28px; }
        .title-logo img {
          width: 63px; }
        .title-logo.sm img {
          width: 47px; }
      .title-main {
        font-size: 40px; }
      .title-sub {
        margin: 12px 0;
        font-size: 21px; }
        .title-sub.gapSm {
          margin: 4px 0; }
        .title-sub.gapLg {
          margin: 21px 0 31px 0; }
      .title-text {
        margin-top: 24px; } }
  @media only screen and (max-width: 959px) {
    .title {
      margin-bottom: 70px; }
      .title-logo {
        margin-bottom: 26px; }
        .title-logo img {
          width: 58px; }
        .title-logo.sm img {
          width: 43px; }
      .title-main {
        font-size: 37px; }
        .title-main i {
          max-width: 200px; }
      .title-sub {
        margin: 11px 0;
        font-size: 19px; }
        .title-sub.gapSm {
          margin: 2px 0; }
        .title-sub.gapLg {
          margin: 19px 0 29px 0; }
      .title-text {
        margin-top: 22px; } }
  @media only screen and (max-width: 767px) {
    .title {
      margin-bottom: 50px; }
      .title-logo {
        margin-bottom: 23.5px; }
        .title-logo img {
          width: 52px; }
        .title-logo.sm img {
          width: 39px; }
      .title-main {
        font-size: 30px; }
        .title-main i {
          width: 30%; }
      .title-sub {
        margin: 10px 0;
        font-size: 16px; }
        .title-sub.gapSm {
          margin: 2px 0; }
        .title-sub.gapLg {
          margin: 17px 0 26px 0; }
      .title-text {
        margin-top: 20px; } }

@-webkit-keyframes arrow {
  from {
    background-position: center; }
  to {
    background-position: center -720%; } }

@keyframes arrow {
  from {
    background-position: center; }
  to {
    background-position: center -720%; } }

.guide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  font-size: 38px; }
  .guide-text {
    flex: 0 0 auto; }
  .guide-icon {
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 1.47em;
    height: 1.47em;
    margin-left: 1.47em;
    border: 3px solid #000;
    border-radius: 50%;
    background-image: url(../images/icon/arrow-bk.svg);
    background-size: 115%;
    background-position: center;
    -webkit-animation-name: arrow;
            animation-name: arrow;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  @media only screen and (max-width: 1679px) {
    .guide {
      padding: 61px 0;
      font-size: 33px; } }
  @media only screen and (max-width: 959px) {
    .guide {
      padding: 56px 0;
      font-size: 30px; }
      .guide-icon {
        margin-left: 01em;
        border: 2px solid #000; } }
  @media only screen and (max-width: 767px) {
    .guide {
      padding: 50px 0;
      font-size: 26px; } }

.note {
  font-weight: 300;
  text-align: center;
  color: #BDC3C4; }

.mail {
  display: flex;
  align-items: center;
  font-size: 22px; }
  .mail-icon {
    flex: 0 0 auto;
    width: 2.27em;
    margin-right: 1em; }
  @media only screen and (max-width: 1679px) {
    .mail {
      font-size: 20px; } }
  @media only screen and (max-width: 959px) {
    .mail {
      font-size: 17px;
      justify-content: center; }
      .mail-icon {
        margin-right: 0.5em; } }

@media only screen and (max-width: 959px) {
  .pc {
    display: none; } }

@media only screen and (min-width: 960px) {
  .mb {
    display: none; } }

@media only screen and (max-width: 767px) {
  .pcPad {
    display: none; } }

@media only screen and (min-width: 960px) {
  .mobileOnly {
    display: none; } }

@media only screen and (max-width: 959px) {
  .desktopOnly {
    display: none; } }
