.explanation {
  padding-bottom: 80px;
}
.explanation-main {
  height: 1308px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../images/index/explanation-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}
.explanation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.explanation-content-box {
  width: 37%;
}
.explanation-content:nth-child(1), .explanation-content:nth-child(3) {
  padding-left: 58%;
}
.explanation-content:nth-child(1) > div, .explanation-content:nth-child(3) > div {
  width: auto;
}
.explanation-content:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
}
.explanation-content:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
  padding: 5% 0 0 5%;
}
.explanation-content:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}
.explanation-img {
  display: none;
}
.explanation-text {
  color: #808080;
}
.explanation-title {
  margin-bottom: 28px;
  font-size: 33px;
  font-weight: bold;
  line-height: 1.4;
}
.explanation-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
}
.explanation-btn {
  display: inline-block;
  margin-top: 38px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  padding: 4px 23px 5px;
  border-radius: 10px;
  background-color: #e6a22a;
}
@media screen and (min-width: 1025px) {
  .explanation-btn:hover {
    background-color: #d18d13;
  }
}
@media screen and (max-width: 1280px) {
  .explanation-main {
    height: 105vw;
  }
  .explanation-title {
    margin-bottom: 24px;
    font-size: 30px;
  }
  .explanation-desc {
    font-size: 16px;
  }
  .explanation-btn {
    margin-top: 34px;
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .explanation-content:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31%;
            flex: 0 0 31%;
    padding: 11% 0 0 5%;
  }
  .explanation-title {
    margin-bottom: 18px;
    font-size: 24px;
  }
  .explanation-desc {
    font-size: 15px;
  }
  .explanation-btn {
    margin-top: 28px;
    padding: 3px 18px 5px;
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  .explanation-container {
    width: 100%;
  }
  .explanation-main {
    height: auto;
    display: block;
    background: none;
  }
  .explanation-content {
    display: block;
    margin-bottom: 40px;
    padding: 0 16px;
  }
  .explanation-content:nth-child(1), .explanation-content:nth-child(3) {
    padding-left: 16px;
  }
  .explanation-content:nth-child(2) {
    padding: 0 16px;
  }
  .explanation-content-box {
    width: auto;
  }
  .explanation-img {
    display: block;
    margin-bottom: 20px;
    padding: 0 40px;
    text-align: center;
  }
  .explanation-img img {
    width: 100%;
    max-width: 400px;
  }
  .explanation-content:nth-child(3) .explanation-img {
    padding: 0 20px;
  }
  .explanation-title {
    font-size: 22px;
  }
}

.section {
  padding: 80px 0;
}
.section:last-child {
  padding-bottom: 0;
}
.section-title {
  text-align: center;
}

.register .field-label {
  width: 7em;
}
.register textarea {
  height: 10em;
}

.process {
  background-color: #fafafa;
}
.process-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.process-step {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  padding: 0 40px;
}
.process-step:first-child {
  padding-left: 0;
}
.process-step:first-child .process-img {
  -webkit-transform: translate(12%, 0);
      -ms-transform: translate(12%, 0);
          transform: translate(12%, 0);
}
.process-step:first-child::after {
  -webkit-transform: translate(70%, -150%);
      -ms-transform: translate(70%, -150%);
          transform: translate(70%, -150%);
}
.process-step:last-child {
  padding-right: 0;
}
.process-step::after {
  width: 72px;
  height: 40px;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -150%);
      -ms-transform: translate(50%, -150%);
          transform: translate(50%, -150%);
  background-image: url("../images/index/step-arrow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.process-step:last-child::after {
  display: none;
}
.process-text {
  text-align: center;
}
.process-text span {
  display: block;
}
.process-img {
  padding: 0 20px;
}
@media screen and (max-width: 1280px) {
  .process-step::after {
    width: 54px;
    height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .process-step {
    padding: 0 25px;
  }
  .process-step::after {
    width: 36px;
    height: 20px;
  }
  .process-img {
    padding: 0 15px;
  }
}
@media screen and (max-width: 640px) {
  .process-main {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  .process-step {
    position: relative;
    padding: 0px;
    padding-bottom: 40px;
    margin-bottom: 20px;
  }
  .process-step::after {
    width: 40px;
    height: 28px;
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    background-image: url("../images/index/step-arrow-down.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .process-step:first-child::after {
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .process-step:last-child {
    padding: 0;
  }
}
/*# sourceMappingURL=apply.css.map */