.tag {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  min-width: 84px;
  padding: 2px 8px 3px;
  text-align: center;
  color: #fff;
  border-radius: 7px;
  background-color: #e6a22a;
}
.tag.-outline {
  padding: 0 8px 1px;
  font-weight: 500;
  color: #e6a22a;
  border: 2px solid #e6a22a;
  background-color: transparent;
}
.tag.-outline.-rd {
  color: #cd5746;
  border-color: #cd5746;
  background-color: transparent;
}
.tag.-rd {
  background-color: #cd5746;
}
@media screen and (max-width: 767px) {
  .tag {
    min-width: 64px;
    border-radius: 5px;
  }
  .tag.-outline {
    border-width: 1px;
  }
}

.main-container + .main-container {
  margin-top: 90px;
}
.main-container:last-child {
  padding-bottom: 20px;
}
.main-title {
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 500;
  color: #d25746;
}
.main-title img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.1em;
  margin-right: 10px;
  height: 1em;
}
.main-title span {
  display: inline-block;
  vertical-align: middle;
}
.main-body {
  margin: 0 -40px;
}
@media screen and (max-width: 1279px) {
  .main-container + .main-container {
    margin-top: 70px;
  }
  .main-body {
    margin: 0 -20px;
  }
}
@media screen and (max-width: 1023px) {
  .main-container + .main-container {
    margin-top: 60px;
  }
  .main-title {
    margin-bottom: 16px;
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .main-container + .main-container {
    margin-top: 45px;
  }
  .main-title {
    font-size: 28px;
  }
  .main-title img {
    margin-right: 8px;
  }
  .main-body {
    margin: 0;
  }
}

.teacherInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 131.5px;
  color: #808080;
}
.teacherInfo-head {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding: 0 25px 30px;
  background-color: #ffefd4;
}
.teacherInfo-pic {
  margin-top: -131.5px;
  text-align: center;
}
.teacherInfo-pic img {
  width: 263px;
  max-width: none;
  height: 263px;
  border-radius: 50%;
}
.teacherInfo-name {
  font-size: 46px;
  font-weight: bold;
  line-height: 1.2;
  color: #e6a22a;
  white-space: nowrap;
}
.teacherInfo-group {
  margin-top: 20px;
}
.teacherInfo-group ul {
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 15px;
  font-weight: normal;
  list-style: none;
  border-left: 2px solid #808080;
}
.teacherInfo-group ul + ul {
  margin-top: 24px;
}
.teacherInfo-group ul li {
  padding-top: 6px;
}
.teacherInfo-group ul li:first-child {
  padding-top: 0;
  font-size: 20px;
  font-weight: bold;
}
.teacherInfo-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
}
.teacherInfo-desc {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.7;
}
.teacherInfo-desc ul {
  margin: 0;
  line-height: 1.5;
}
.teacherInfo-desc ul li {
  margin-top: 4px;
}
.teacherInfo-desc ul li:first-child {
  margin-top: 0;
}
@media screen and (max-width: 1279px) {
  .teacherInfo {
    padding-top: 110px;
  }
  .teacherInfo-head {
    width: 360px;
  }
  .teacherInfo-pic {
    margin-top: -110px;
  }
  .teacherInfo-pic img {
    width: 220px;
    height: 220px;
  }
  .teacherInfo-content {
    margin-left: 40px;
  }
  .teacherInfo-desc {
    font-size: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .teacherInfo {
    padding-top: 90px;
  }
  .teacherInfo-head {
    width: 300px;
    padding: 0 15px 25px;
  }
  .teacherInfo-pic {
    margin-top: -90px;
  }
  .teacherInfo-pic img {
    width: 180px;
    height: 180px;
  }
  .teacherInfo-name {
    font-size: 38px;
  }
  .teacherInfo-group {
    margin-top: 16px;
  }
  .teacherInfo-group ul {
    font-size: 14px;
  }
  .teacherInfo-group ul + ul {
    margin-top: 20px;
  }
  .teacherInfo-group ul li:first-child {
    font-size: 18px;
  }
  .teacherInfo-content {
    margin-left: 30px;
  }
  .teacherInfo-desc {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .teacherInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .teacherInfo-head {
    width: 100%;
  }
  .teacherInfo-name {
    text-align: center;
  }
  .teacherInfo-content {
    margin-left: 0;
    margin-top: 30px;
  }
}

.cardList {
  position: relative;
  max-width: 1268px;
  margin: 0 auto;
  padding: 10px 40px;
  overflow: hidden;
}
.cardList .swiper-slide {
  height: auto;
}
.cardList .swiper-button-prev, .cardList .swiper-button-next {
  width: 14px;
  padding-bottom: 58px;
}
.cardList .swiper-button-prev {
  left: 4px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cardList .swiper-button-next {
  right: 4px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 1140px) {
  .cardList {
    max-width: 768px;
  }
  .cardList .swiper-button-prev, .cardList .swiper-button-next {
    width: 14px;
    padding-bottom: 58px;
  }
  .cardList .swiper-button-prev {
    left: 10px;
  }
  .cardList .swiper-button-next {
    right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .cardList {
    max-width: none;
    padding: 10px 0;
    overflow: visible;
  }
  .cardList .swiper-slide {
    width: 300px;
  }
  .cardList .swiper-button-prev, .cardList .swiper-button-next {
    display: none;
  }
}
/*# sourceMappingURL=teacher-detail.css.map */