html,
body {
  font-family: "Noto Sans TC", sans-serif, Arial, "Microsoft JhengHei", Helvetica;
  font-size: 16px;
  line-height: 1.5;
  color: #333; }
  html img,
  body img {
    width: 100%; }

a,
button {
  outline: none; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

.container {
  position: relative;
  max-width: 542px;
  height: 100%;
  min-height: 167vw;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden; }
  .container-item {
    position: relative;
    overflow: hidden; }
    .container-item::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../image/logo-wt.png) no-repeat top 4% left 4%/11.96581vw; }
  .container .container-page {
    box-sizing: border-box;
    top: 4.2735vw;
    bottom: auto;
    display: flex;
    padding: 0 4.2735vw;
    line-height: 0; }
    .container .container-page .swiper-pagination-bullet {
      position: relative;
      flex: 1;
      box-sizing: border-box;
      width: auto;
      height: 0.68376vw;
      margin: 0;
      box-shadow: 0 0 3.4188vw 0 rgba(0, 0, 0, 0.2);
      border-radius: 0.68376vw;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 1;
      overflow: hidden; }
      .container .container-page .swiper-pagination-bullet::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.68376vw;
        background-color: #FFF; }
      .container .container-page .swiper-pagination-bullet + .swiper-pagination-bullet {
        margin-left: 0.42735vw; }
      .container .container-page .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
        width: calc(var(--progress)*100%); }
      .container .container-page .swiper-pagination-bullet.swiper-pagination-bullet-active ~ .swiper-pagination-bullet::before {
        width: 0; }
  .container-prev, .container-next {
    top: 0;
    width: 50%;
    height: 100%;
    margin-top: 0;
    outline: none; }
    .container-prev::after, .container-next::after {
      content: none; }
    .-isPause .container-prev, .-isPause .container-next {
      pointer-events: none; }
  .container-prev {
    left: 0; }
  .container-next {
    right: 0; }
  .container-btn {
    position: absolute;
    bottom: 35.71429%;
    left: 19.65812vw;
    width: 63.4188vw;
    height: 20.59829vw;
    z-index: 100;
    cursor: pointer; }
    .container-btn.-vip {
      height: 35.55556vw;
      bottom: 32.98611%; }
  .container-goShop {
    position: absolute;
    top: 47.5%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 88.2906vw;
    height: 152.5641vw;
    pointer-events: none;
    z-index: 100; }
    .container-goShop a.goShop {
      position: absolute;
      bottom: 45%;
      left: 12.82051vw;
      display: block;
      width: 63.4188vw;
      height: 20.59829vw;
      cursor: pointer;
      pointer-events: visible; }
    .container-goShop a.again {
      position: absolute;
      bottom: 25%;
      left: 21.96581vw;
      display: block;
      width: 43.84615vw;
      height: 12.82051vw;
      cursor: pointer;
      pointer-events: visible; }
  @media only screen and (min-width: 542px) {
    .container {
      max-width: 59.877vh;
      min-height: auto; }
      .container-item::after {
        background-size: 6.89507vh; }
      .container .container-page {
        top: 2.46253vh;
        padding: 0 2.46253vh; }
        .container .container-page .swiper-pagination-bullet {
          height: 0.394vh;
          box-shadow: 0 0 1.97002vh 0 rgba(0, 0, 0, 0.2);
          border-radius: 0.394vh; }
          .container .container-page .swiper-pagination-bullet::before {
            border-radius: 0.394vh; }
          .container .container-page .swiper-pagination-bullet + .swiper-pagination-bullet {
            margin-left: 0.24625vh; }
      .container-btn {
        left: 11.32762vh;
        width: 36.5439vh;
        height: 11.86938vh; }
        .container-btn.-vip {
          height: 20.48822vh; }
      .container-goShop {
        width: 50.8758vh;
        height: 87.91221vh; }
        .container-goShop a.goShop {
          left: 7.38758vh;
          width: 36.5439vh;
          height: 11.86938vh; }
        .container-goShop a.again {
          left: 12.65739vh;
          width: 25.26552vh;
          height: 7.38758vh; } }

@keyframes loading {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, 80%); }
  100% {
    transform: translate(0, 0); } }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999; }
  .loading-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; }
  .loading-dot {
    display: inline-block;
    width: 3.84615vw;
    height: 3.84615vw;
    margin: 0 0.8547vw;
    border-radius: 50%;
    background-color: #305ABF;
    animation: loading 0.6s linear infinite; }
    .loading-dot:nth-child(1) {
      animation-delay: .1s; }
    .loading-dot:nth-child(2) {
      animation-delay: .2s; }
    .loading-dot:nth-child(3) {
      animation-delay: .3s; }
  .loading-text {
    margin-top: 7.69231vw;
    padding-left: 1em;
    font-size: 3.84615vw; }
  @media only screen and (min-width: 542px) {
    .loading-dot {
      width: 2.21627vh;
      height: 2.21627vh;
      margin: 0 0.49251vh; }
    .loading-text {
      margin-top: 4.43255vh;
      font-size: 2.21627vh; } }

* {
  animation-play-state: paused; }

.-loaded * {
  animation-play-state: running; }

.-isPause * {
  animation-play-state: paused !important; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes cartShake {
  0% {
    transform: scaleY(1); }
  50% {
    transform: scaleY(0.99); }
  100% {
    transform: scaleY(1); } }

@keyframes cartIn {
  0% {
    transform: translate(-130%, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes cartOut {
  0% {
    transform: translate(0, 0);
    opacity: 1; }
  99.9% {
    transform: translate(140%, 0);
    opacity: 1; }
  100% {
    transform: translate(140%, 0);
    opacity: 0; } }

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes itemShake {
  0% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(3deg); } }

@keyframes lgItemShake {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(3deg); } }

.cart {
  position: relative; }
  .cart-item {
    position: absolute; }
    .cart-item.-cabbage {
      top: 20.08547vw;
      left: 29.05983vw;
      width: 29.91453vw; }
    .cart-item.-milk {
      top: 10.42735vw;
      left: 13.67521vw;
      width: 28.20513vw; }
    .cart-item.-jam {
      top: 19.82906vw;
      right: 1.62393vw;
      width: 25.64103vw; }
      .cart-item.-jam img {
        transform: rotate(52deg); }
    .cart-item.-lemon {
      top: 23.07692vw;
      left: 14.52991vw;
      width: 26.06838vw; }
      .cart-item.-lemon img {
        transform: rotate(-15deg); }
    .cart-item.-orange {
      top: 10.68376vw;
      right: 19.65812vw;
      width: 19.23077vw; }
    .cart-item.-tomato {
      top: 11.11111vw;
      right: 9.40171vw;
      width: 15.38462vw; }
    .cart-item.-jam2 {
      top: 17.09402vw;
      right: -0.42735vw;
      width: 21.36752vw; }
      .cart-item.-jam2 img {
        transform: rotate(51deg); }
    .cart-item.-bread {
      top: 0.42735vw;
      left: 22.90598vw;
      width: 32.47863vw; }
    .cart-item.-bee {
      top: 5.7265vw;
      right: 6.83761vw;
      width: 29.91453vw; }
  .cart-empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .cart-result {
    opacity: 0; }
  @media only screen and (min-width: 542px) {
    .cart-item.-cabbage {
      top: 11.57388vh;
      left: 16.74518vh;
      width: 17.23769vh; }
    .cart-item.-milk {
      top: 6.00857vh;
      left: 7.88009vh;
      width: 16.25268vh; }
    .cart-item.-jam {
      top: 11.42612vh;
      right: 0.93576vh;
      width: 14.77516vh; }
    .cart-item.-lemon {
      top: 13.29764vh;
      left: 8.37259vh;
      width: 15.02141vh; }
    .cart-item.-orange {
      top: 6.15632vh;
      right: 11.32762vh;
      width: 11.08137vh; }
    .cart-item.-tomato {
      top: 6.40257vh;
      right: 5.41756vh;
      width: 8.8651vh; }
    .cart-item.-jam2 {
      top: 9.85011vh;
      right: -0.24625vh;
      width: 12.31263vh; }
    .cart-item.-bread {
      top: 0.24625vh;
      left: 13.19914vh;
      width: 18.7152vh; }
    .cart-item.-bee {
      top: 3.29979vh;
      right: 3.94004vh;
      width: 17.23769vh; } }

@keyframes throwL {
  0% {
    transform: translate(-60%, -150%);
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes throwM {
  0% {
    transform: translate(-20%, -150%);
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes throwR {
  0% {
    transform: translate(50%, -150%);
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes resultIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes msg {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

.cart-item {
  opacity: 0; }

.cart-empty img, .cart-result img {
  transform-origin: bottom center;
  animation: cartShake 1s infinite; }

.-cartIn .cart-empty {
  transform: translate(-130%, 50%); }

.container-item:not(.-cartIn) .cart-result {
  opacity: 1; }

.swiper-slide-active.-cartIn .cart-item {
  animation: 1s ease-in-out 1.5s forwards; }
  .swiper-slide-active.-cartIn .cart-item img {
    animation: resultIn .2s 2.5s reverse forwards; }
  .swiper-slide-active.-cartIn .cart-item.-cabbage {
    animation-name: throwM; }
  .swiper-slide-active.-cartIn .cart-item.-milk {
    animation-name: throwL; }
  .swiper-slide-active.-cartIn .cart-item.-jam {
    animation-name: throwR; }
  .swiper-slide-active.-cartIn .cart-item.-lemon {
    animation-name: throwL; }
  .swiper-slide-active.-cartIn .cart-item.-orange {
    animation-name: throwM; }
  .swiper-slide-active.-cartIn .cart-item.-tomato {
    animation-name: throwR; }
  .swiper-slide-active.-cartIn .cart-item.-jam2 {
    animation-name: throwR; }
  .swiper-slide-active.-cartIn .cart-item.-bread {
    animation-name: throwL; }
  .swiper-slide-active.-cartIn .cart-item.-bee {
    animation-name: throwM; }

.swiper-slide-active.-cartIn .cart-empty {
  animation: 1.5s cubic-bezier(0, 0, 0.56, 1.38) forwards;
  animation-name: cartIn; }

.swiper-slide-active.-cartIn:not(.-cartOut) .cart-result {
  animation: resultIn .3s 2.5s forwards; }

.swiper-slide-active.-cartOut.-fadeOut .cart-empty, .swiper-slide-active.-cartOut.-fadeOut .cart-result {
  animation: cartOut 1.5s cubic-bezier(0.61, -0.4, 1, 1) forwards; }

.index {
  position: relative;
  height: 100%;
  background: url(../image/bg/bg01.jpg) no-repeat center/cover; }
  .index-wrap {
    height: 100%; }
  .index-item {
    position: absolute; }
    .index-item.-cabbage {
      top: -11.53846vw;
      left: -12.39316vw;
      width: 34.01709vw; }
    .index-item.-lemon {
      top: 1.96581vw;
      left: 15.38462vw;
      width: 29.91453vw; }
    .index-item.-orange {
      top: -3.07692vw;
      right: 23.07692vw;
      width: 20vw; }
    .index-item.-apple {
      top: 7.94872vw;
      right: -5.98291vw;
      width: 23.24786vw; }
    .index-item.-jam {
      bottom: 27.35043vw;
      left: -0.8547vw;
      width: 22.82051vw; }
    .index-item.-bag {
      bottom: -19.65812vw;
      left: -9.40171vw;
      width: 43.50427vw; }
    .index-item.-shoppingBag {
      bottom: -21.36752vw;
      right: -13.67521vw;
      width: 41.11111vw; }
  .index-title {
    position: relative;
    top: 40%;
    left: 17.69231vw;
    transform: translateY(-50%);
    width: 66.23932vw; }
  .index-cart {
    position: absolute;
    bottom: 26%;
    left: 20.51282vw;
    transform: translateY(50%);
    width: 56.06838vw; }
  @media only screen and (min-width: 542px) {
    .index-item.-cabbage {
      top: -6.64882vh;
      left: -7.14133vh;
      width: 19.60171vh; }
    .index-item.-lemon {
      top: 1.13276vh;
      left: 8.8651vh;
      width: 17.23769vh; }
    .index-item.-orange {
      top: -1.77302vh;
      right: 13.29764vh;
      width: 11.52463vh; }
    .index-item.-apple {
      top: 4.5803vh;
      right: -3.44754vh;
      width: 13.39615vh; }
    .index-item.-jam {
      bottom: 15.76017vh;
      left: -0.49251vh;
      width: 13.14989vh; }
    .index-item.-bag {
      bottom: -11.32762vh;
      left: -5.41756vh;
      width: 25.06852vh; }
    .index-item.-shoppingBag {
      bottom: -12.31263vh;
      right: -7.88009vh;
      width: 23.68951vh; }
    .index-title {
      left: 10.19486vh;
      width: 38.16916vh; }
    .index-cart {
      left: 11.82013vh;
      width: 32.30835vh; } }

.index-item {
  animation: itemShake .8s ease-in-out infinite alternate; }
  .index-item.-lemon, .index-item.-jam, .index-item.-shoppingBag {
    animation-direction: alternate-reverse; }
  .index-item.-bag, .index-item.-shoppingBag {
    animation-name: lgItemShake; }

.index-title img {
  opacity: 0; }

.index-cart > div {
  transform: translate(-150%, 50%); }

.swiper-slide-active .index-title img {
  animation: zoomIn 1s ease-out 1.2s forwards; }

.swiper-slide-active .index-cart > div {
  animation: 1.5s cubic-bezier(0, 0, 0.56, 1.38) forwards;
  animation-name: cartIn; }
  .swiper-slide-active .index-cart > div img {
    transform-origin: bottom center;
    animation: cartShake 1s infinite; }

.swiper-slide-active.-fadeOut .index-cart > div {
  animation: cartOut 1.5s cubic-bezier(0.61, -0.4, 1, 1) forwards; }

.-changeStart .index-wrap {
  opacity: 0 !important; }

.welcome {
  position: relative;
  height: 100%;
  background: url(../image/bg/bg01.jpg) no-repeat center/cover; }
  .-slideBg .welcome::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/bg/bg02.jpg) no-repeat center/cover;
    pointer-events: none;
    opacity: 0; }
  .welcome-wrap {
    height: 100%; }
  .welcome-flag {
    position: absolute;
    top: -8.54701vw;
    left: 0;
    width: 100%; }
    .welcome-flag.-vip {
      top: 6.41026vw; }
    .welcome-flag.-vvip {
      top: 15.38462vw; }
  .welcome-text {
    position: absolute;
    top: 36%;
    left: 0;
    transform: translateY(-50%);
    width: 100%; }
    .welcome-text p {
      margin-bottom: 3.4188vw; }
      .welcome-text p span {
        font-size: 7.69231vw; }
  .welcome-btn {
    position: absolute;
    bottom: 35.71429%;
    left: 19.65812vw;
    width: 63.4188vw; }
    .welcome-btn.-vip {
      bottom: 32.98611%; }
  .welcome-cart {
    position: absolute;
    bottom: -1.7094vw;
    left: 14.52991vw;
    width: 68.11966vw; }
  @media only screen and (min-width: 542px) {
    .welcome-flag {
      top: -4.92505vh; }
      .welcome-flag.-vip {
        top: 3.69379vh; }
      .welcome-flag.-vvip {
        top: 8.8651vh; }
    .welcome-text p {
      margin-bottom: 1.97002vh; }
      .welcome-text p span {
        font-size: 4.43255vh; }
    .welcome-btn {
      left: 11.32762vh;
      width: 36.5439vh; }
    .welcome-cart {
      bottom: -0.98501vh;
      left: 8.37259vh;
      width: 39.25268vh; } }

@keyframes flag {
  0% {
    transform: translateY(-80%); }
  100% {
    transform: translateY(0); } }

@keyframes flagVip {
  0% {
    transform: translateY(-150%); }
  100% {
    transform: translateY(0); } }

@keyframes btnSm {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes nextBg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.welcome-flag {
  transform: translateY(-80%); }
  .welcome-flag.-vip, .welcome-flag.-vvip {
    transform: translateY(-150%); }

.welcome-text .text {
  opacity: 0; }

.welcome-btn {
  opacity: 0; }
  .welcome-btn img {
    animation: lgItemShake .5s infinite alternate; }

.swiper-slide-active .welcome-flag {
  animation: flag 1s cubic-bezier(0.09, 0.2, 0.34, 1.15) forwards; }
  .swiper-slide-active .welcome-flag.-vip, .swiper-slide-active .welcome-flag.-vvip {
    animation-name: flagVip;
    animation-delay: .5s; }

.swiper-slide-active .welcome-text .text {
  animation: zoomIn .8s ease-out 1.8s forwards; }

.swiper-slide-active .welcome-btn {
  animation: zoomIn .8s ease-out 2.4s forwards; }

.swiper-slide-active.-fadeOut.-slideBg .welcome::after {
  animation: nextBg .5s linear 1.5s forwards; }

.-changeStart .welcome::after {
  transform: translateX(0) !important; }

.favoriteCategory {
  position: relative;
  height: 100%;
  background: url(../image/bg/bg02.jpg) no-repeat center/cover; }
  .-slideBg .favoriteCategory::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/bg/bg03.jpg) no-repeat center/cover;
    pointer-events: none;
    opacity: 0; }
  .favoriteCategory-wrap {
    height: 100%; }
  .favoriteCategory-title {
    position: absolute;
    top: 6.44841%;
    left: 8.37607vw;
    width: 83.33333vw; }
  .favoriteCategory-question {
    position: absolute;
    top: 31.99405%;
    left: 14.95726vw;
    width: 72.30769vw; }
  .favoriteCategory-ranking {
    position: absolute;
    top: 30.25794%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; }
    .favoriteCategory-ranking .wrap {
      flex: 0 0 100%; }
    .favoriteCategory-ranking .ranking {
      flex: 0 0 auto;
      width: 33.67521vw;
      height: 35.98291vw;
      margin: 0 5.12821vw 0 5.55556vw;
      font-size: 7.52137vw;
      font-weight: bold;
      line-height: 1.1;
      text-align: center;
      color: #592e16; }
      .favoriteCategory-ranking .ranking > div {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0.8547vw 8.54701vw 0;
        background: url(../image/bg/card/ranking.png) no-repeat center/contain; }
  .favoriteCategory-cart {
    position: absolute;
    bottom: -21.36752vw;
    left: 14.70085vw;
    width: 68.11966vw; }
  .favoriteCategory-msg {
    position: absolute;
    bottom: 34.87179vw;
    right: 2.5641vw;
    width: 52.5641vw; }
    .favoriteCategory-msg img {
      width: 52.5641vw; }
  @media only screen and (min-width: 542px) {
    .favoriteCategory-title {
      left: 4.82655vh;
      width: 48.01927vh; }
    .favoriteCategory-question {
      left: 8.61884vh;
      width: 41.66595vh; }
    .favoriteCategory-ranking .ranking {
      width: 19.40471vh;
      height: 20.73448vh;
      margin: 0 2.95503vh 0 3.20128vh;
      font-size: 4.33405vh; }
      .favoriteCategory-ranking .ranking > div {
        padding: 0.49251vh 4.92505vh 0; }
    .favoriteCategory-cart {
      bottom: -12.31263vh;
      left: 8.47109vh;
      width: 39.25268vh; }
    .favoriteCategory-msg {
      position: absolute;
      bottom: 20.09422vh;
      right: 1.47752vh;
      width: 30.28908vh; }
      .favoriteCategory-msg img {
        width: 30.28908vh; } }

@keyframes questionZoom {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }

.favoriteCategory-title {
  opacity: 0; }

.favoriteCategory-question {
  opacity: 0; }
  .favoriteCategory-question img {
    animation: questionZoom 1s ease-out infinite alternate; }

.favoriteCategory-ranking .ranking {
  opacity: 0; }
  .favoriteCategory-ranking .ranking > div {
    animation: itemShake .8s ease-in-out infinite alternate; }

.favoriteCategory-msg > div {
  width: 0;
  overflow: hidden; }

.swiper-slide-active .favoriteCategory-title {
  animation: zoomIn .8s ease-out 2.5s forwards; }

.swiper-slide-active .favoriteCategory-question {
  animation: zoomIn .8s linear 2.5s forwards; }

.swiper-slide-active .favoriteCategory-ranking .ranking {
  animation: zoomIn .5s ease-out forwards; }
  .swiper-slide-active .favoriteCategory-ranking .ranking.-cut2 {
    animation-delay: .4s; }
  .swiper-slide-active .favoriteCategory-ranking .ranking.-cut3 {
    animation-delay: .8s; }

.swiper-slide-active .favoriteCategory-msg > div {
  animation: msg .8s ease-out 1.5s forwards; }

.swiper-slide-active .favoriteCategory.-ranking .favoriteCategory-title {
  animation: zoomIn .8s ease-out 1.5s forwards; }

.swiper-slide-active.-fadeOut.-slideBg .favoriteCategory::after {
  animation: nextBg .5s linear 1.5s forwards; }

.-changeStart .favoriteCategory:not(.-ranking) .cart-empty {
  transform: translate(0, 0) !important; }

.-changeStart .favoriteCategory:not(.-ranking) .cart-result {
  opacity: 1 !important; }

.-changeStart .favoriteCategory::after {
  transform: translateX(0) !important; }

.-changeStart.-cartOut .favoriteCategory .cart-empty {
  opacity: 0 !important; }

.-changeStart.-cartOut .favoriteCategory .cart-result {
  opacity: 0 !important; }

.consumption {
  position: relative;
  height: 100%;
  background: url(../image/bg/bg03.jpg) no-repeat center/cover; }
  .-slideBg .consumption::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/bg/bg04.jpg) no-repeat center/cover;
    pointer-events: none;
    opacity: 0; }
  .consumption-wrap {
    height: 100%; }
  .consumption-title {
    position: relative;
    top: 17.09402vw;
    left: 50%;
    transform: translateX(-50%);
    width: 83.58974vw; }
  .consumption-content {
    position: absolute;
    top: 51.5%;
    left: 0;
    transform: translateY(-50%);
    width: 100%; }
  .consumption-most {
    width: 50.51282vw;
    height: 53.16239vw;
    margin: 0 auto 1%;
    font-size: 6.5812vw;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    color: #592e16; }
    .consumption-most > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: url(../image/bg/card/times.png) no-repeat center/contain; }
  .consumption-note {
    font-size: 3.07692vw;
    font-weight: 500;
    text-align: center;
    color: #764e42; }
  .consumption-cart {
    position: absolute;
    bottom: -21.36752vw;
    left: 14.70085vw;
    width: 68.11966vw; }
  .consumption.-most .consumption-content {
    top: 60%; }
  .consumption.-most .consumption-text {
    margin-top: 3%; }
  .consumption.-magic .consumption-title {
    width: 60.08547vw; }
  .consumption.-magic .consumption-msg {
    margin: 8% auto 4%;
    width: 85.47009vw; }
    .consumption.-magic .consumption-msg img {
      width: 85.47009vw; }
  .consumption.-magic.-notTop50 .consumption-title {
    top: 27.35043vw; }
  .consumption.-magic.-notTop50 .consumption-msg div {
    display: none; }
  .consumption.-cool .consumption-title {
    width: 89.31624vw; }
  .consumption.-cool .consumption-msg {
    margin: 2% auto;
    width: 80.51282vw; }
    .consumption.-cool .consumption-msg img {
      width: 80.51282vw; }
  .consumption.-cool .consumption-text + .consumption-note {
    margin-top: 10%; }
  @media only screen and (min-width: 542px) {
    .consumption-title {
      top: 9.85011vh;
      width: 48.16702vh; }
    .consumption-most {
      width: 29.10707vh;
      height: 30.63383vh;
      font-size: 3.79229vh; }
    .consumption-note {
      font-size: 1.77302vh; }
    .consumption-cart {
      bottom: -12.31263vh;
      left: 8.47109vh;
      width: 39.25268vh; }
    .consumption.-magic .consumption-title {
      width: 34.62313vh; }
    .consumption.-magic .consumption-msg {
      width: 49.25054vh; }
      .consumption.-magic .consumption-msg img {
        width: 49.25054vh; }
    .consumption.-magic.-notTop50 .consumption-title {
      top: 15.76017vh; }
    .consumption.-cool .consumption-title {
      width: 51.46681vh; }
    .consumption.-cool .consumption-msg {
      width: 46.394vh; }
      .consumption.-cool .consumption-msg img {
        width: 46.394vh; } }

.consumption-title img, .consumption-most,
.consumption.-most .consumption-text .text,
.consumption.-magic .consumption-text .text > div,
.consumption.-cool .consumption-text .text > div, .consumption-note {
  opacity: 0; }

.consumption-msg > div {
  width: 0;
  overflow: hidden; }

.consumption-most > div {
  animation: itemShake .8s ease-in-out infinite alternate; }

.swiper-slide-active .consumption.-most .consumption-title img {
  animation: zoomIn .8s ease-out forwards; }

.swiper-slide-active .consumption.-most .consumption-most {
  animation: zoomIn .8s ease-out 1s forwards; }

.swiper-slide-active .consumption.-most .consumption-text .text.-pk {
  animation: zoomIn .8s ease-out 1s forwards; }

.swiper-slide-active .consumption.-most .consumption-text .text:not(.-pk) {
  animation: zoomIn .8s ease-out 2s forwards; }
  .swiper-slide-active .consumption.-most .consumption-text .text:not(.-pk) b {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 3s forwards; }

.swiper-slide-active .consumption.-magic .consumption-title img {
  animation: zoomIn .8s ease-out 1.7s forwards; }

.swiper-slide-active .consumption.-magic .consumption-text .text .-an1 {
  animation: zoomIn .8s ease-out 2.7s forwards; }
  .swiper-slide-active .consumption.-magic .consumption-text .text .-an1 b {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 3.7s forwards; }

.swiper-slide-active .consumption.-magic .consumption-text .text .-an2 {
  animation: zoomIn .8s ease-out 4.4s forwards; }

.swiper-slide-active .consumption.-magic .consumption-note {
  animation: zoomIn .8s ease-out 4.4s forwards; }

.swiper-slide-active .consumption.-magic .consumption-msg > div {
  animation: msg .8s ease-out 5.4s forwards; }

.swiper-slide-active .consumption.-cool .consumption-title img {
  animation: zoomIn .8s ease-out forwards; }

.swiper-slide-active .consumption.-cool .consumption-text .text .-an1 {
  animation: zoomIn .8s ease-out 1s forwards; }
  .swiper-slide-active .consumption.-cool .consumption-text .text .-an1 b {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 2s forwards; }

.swiper-slide-active .consumption.-cool .consumption-text .text .-an2 {
  animation: zoomIn .8s ease-out 2.7s forwards; }
  .swiper-slide-active .consumption.-cool .consumption-text .text .-an2 b {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 3.7s forwards; }

.swiper-slide-active .consumption.-cool .consumption-note {
  animation: zoomIn .8s ease-out 2.7s forwards; }

.swiper-slide-active .consumption.-cool .consumption-msg > div {
  animation: msg .8s ease-out 4.7s forwards; }

.swiper-slide-active.-fadeOut.-slideBg .consumption::after {
  animation: nextBg .5s linear 1.5s forwards; }

.-changeStart .consumption.-magic .cart-empty {
  transform: translate(0, 0) !important; }

.-changeStart .consumption.-magic .cart-result {
  opacity: 1 !important; }

.-changeStart.-cartOut .consumption .cart-empty {
  opacity: 0 !important; }

.-changeStart.-cartOut .consumption .cart-result {
  opacity: 0 !important; }

.-changeStart .consumption::after {
  transform: translateX(0) !important; }

.point {
  position: relative;
  height: 100%;
  background: url(../image/bg/bg04.jpg) no-repeat center/cover; }
  .-slideBg .point::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/bg/bg05.jpg) no-repeat center/cover;
    pointer-events: none;
    opacity: 0; }
  .point-memo {
    position: absolute;
    top: 44.5%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 88.2906vw;
    height: 152.5641vw; }
    .point-memo > div {
      width: 100%;
      height: 100%;
      background: url(../image/bg/memo.png) no-repeat center/contain; }
  .point-title {
    width: 55.7265vw;
    margin: 0 auto;
    padding: 30% 7.5% 16% 0; }
  .point-text {
    line-height: 1.3; }
  .point-note {
    margin-top: 26%;
    font-size: 3.07692vw;
    font-weight: 500;
    text-align: center;
    color: #764e42; }
  .point-cart {
    position: absolute;
    bottom: -21.36752vw;
    left: 14.70085vw;
    width: 68.11966vw; }
  .point-msg {
    width: 76.92308vw;
    margin: 2% auto 0; }
    .point-msg img {
      width: 76.92308vw; }
  .point.-store .point-title {
    width: 83.67521vw;
    margin-bottom: -2%;
    padding: 34% 7.5% 0 0; }
  .point.-store .point-text {
    line-height: 1.6; }
    .point.-store .point-text span {
      line-height: 1.4; }
    .point.-store .point-text .text + .text {
      margin-top: 0; }
  @media only screen and (min-width: 542px) {
    .point-memo {
      width: 50.8758vh;
      height: 87.91221vh; }
    .point-title {
      width: 32.11135vh; }
    .point-note {
      font-size: 1.77302vh; }
    .point-cart {
      bottom: -12.31263vh;
      left: 8.47109vh;
      width: 39.25268vh; }
    .point-msg {
      width: 44.32548vh; }
      .point-msg img {
        width: 44.32548vh; }
    .point.-store .point-title {
      width: 48.21627vh; } }

@keyframes polaroid {
  0% {
    transform: rotate(-40deg);
    opacity: 0; }
  100% {
    transform: rotate(0);
    opacity: 1; } }

.point:not(.-store) .point-memo > div {
  transform: rotate(-40deg);
  opacity: 0; }

.point:not(.-store) .point-content {
  opacity: 0; }

.point-title {
  opacity: 0; }

.point-msg > div {
  width: 0;
  overflow: hidden; }

.point.-store .point-text .text {
  opacity: 0; }

.swiper-slide-active .point:not(.-store) .point-memo > div {
  transform-origin: top left;
  animation: polaroid 1.2s ease-out forwards; }

.swiper-slide-active .point:not(.-store) .point-title {
  animation: zoomIn .8s ease-out 1.4s forwards; }

.swiper-slide-active .point:not(.-store) .point-content {
  animation: zoomIn .8s ease-out 2.4s forwards; }
  .swiper-slide-active .point:not(.-store) .point-content b {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 3.4s forwards; }

.swiper-slide-active .point.-store .point-title {
  animation: zoomIn .8s ease-out forwards; }

.swiper-slide-active .point.-store .point-text .text:nth-child(1) {
  animation: zoomIn .8s ease-out 1s forwards; }
  .swiper-slide-active .point.-store .point-text .text:nth-child(1) b {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 1s forwards; }

.swiper-slide-active .point.-store .point-text .text:nth-child(2) {
  animation: zoomIn .8s ease-out 2s forwards; }
  .swiper-slide-active .point.-store .point-text .text:nth-child(2) b {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 2s forwards; }

.swiper-slide-active.-fadeOut.-slideBg .point::after {
  animation: nextBg .5s linear 1.5s forwards; }

.-changeStart .point:not(.-store) .cart-empty {
  transform: translate(0, 0) !important; }

.-changeStart .point:not(.-store) .cart-result {
  opacity: 1 !important; }

.-changeStart .point:not(.-store) .point-memo > div {
  transform: none !important;
  opacity: 1 !important; }

.-changeStart .point::after {
  transform: translateX(0) !important; }

.-changeStart.-cartOut .point .cart-empty {
  opacity: 0 !important; }

.-changeStart.-cartOut .point .cart-result {
  opacity: 0 !important; }

.memoir {
  position: relative;
  height: 100%;
  background: url(../image/bg/bg05.jpg) no-repeat center/cover; }
  .-slideBg .memoir::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/bg/bg06.jpg) no-repeat center/cover;
    pointer-events: none;
    opacity: 0; }
  .memoir-polaroid {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94.2735vw;
    height: 153.58974vw; }
    .memoir-polaroid > div {
      width: 100%;
      height: 100%;
      background: url(../image/bg/polaroid.png) no-repeat center/contain; }
  .memoir-title {
    margin: 0 auto;
    padding: 30% 3.5% 0 0;
    width: 63.76068vw; }
  .memoir-text {
    padding-top: 26%; }
  .memoir-msg {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    height: 16.41026vw; }
    .memoir-msg > div {
      width: 72.99145vw;
      height: 100%; }
    .memoir-msg img {
      width: auto;
      height: 100%; }
  .memoir-bag {
    position: absolute;
    bottom: -13.67521vw;
    right: -22.22222vw;
    width: 42.73504vw; }
  .memoir.-first .memoir-msg > div {
    width: 56.15385vw; }
  .memoir.-num .memoir-msg {
    bottom: 9%;
    height: 24.78632vw; }
    .memoir.-num .memoir-msg > div {
      width: 77.52137vw; }
  @media only screen and (min-width: 542px) {
    .memoir-polaroid {
      width: 54.32334vh;
      height: 88.50321vh; }
    .memoir-title {
      width: 36.7409vh; }
    .memoir-msg {
      height: 9.4561vh; }
      .memoir-msg > div {
        width: 42.05996vh; }
    .memoir-bag {
      bottom: -7.88009vh;
      right: -12.80514vh;
      width: 24.62527vh; }
    .memoir.-first .memoir-msg > div {
      width: 32.3576vh; }
    .memoir.-num .memoir-msg {
      height: 14.28266vh; }
      .memoir.-num .memoir-msg > div {
        width: 44.67024vh; } }

.memoir.-first .memoir-polaroid > div, .memoir-title,
.memoir.-first .memoir-text,
.memoir.-num .memoir-text {
  opacity: 0; }

.memoir.-first .memoir-msg > div,
.memoir.-num .memoir-msg > div,
.memoir-msg > div {
  width: 0;
  overflow: hidden; }

.memoir-text .-an2,
.memoir-text .-an3,
.memoir-text .-an4 {
  opacity: 0; }

.memoir-bag {
  transform-origin: top right;
  animation: lgItemShake 1.5s ease-in-out infinite alternate; }

.swiper-slide-active .memoir-text .-an1 b {
  animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) forwards; }

.swiper-slide-active .memoir-text .-an2 {
  animation: zoomIn .8s ease-out .7s forwards; }

.swiper-slide-active .memoir-text .-an3 {
  animation: zoomIn .8s ease-out 1.7s forwards; }

.swiper-slide-active .memoir-text .-an4 {
  animation: zoomIn .8s ease-out 2.7s forwards; }
  .swiper-slide-active .memoir-text .-an4 b {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 2.7s forwards; }

.swiper-slide-active .memoir-msg > div {
  animation: msg .8s ease-out 3.7s forwards; }

.swiper-slide-active .memoir.-first .memoir-polaroid > div {
  transform-origin: top left;
  animation: polaroid 1s ease-out forwards; }

.swiper-slide-active .memoir.-first .memoir-title {
  animation: zoomIn .8s ease-out 1.2s forwards; }

.swiper-slide-active .memoir.-first .memoir-msg > div {
  animation: msg .8s ease-out 2.2s forwards; }

.swiper-slide-active .memoir.-num .memoir-text {
  animation: zoomIn .8s ease-out forwards; }
  .swiper-slide-active .memoir.-num .memoir-text b {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 1s forwards; }

.swiper-slide-active .memoir.-num .memoir-msg > div {
  animation: msg .8s ease-out 1.7s forwards; }

.swiper-slide-active.-fadeOut.-slideBg .memoir::after {
  animation: nextBg .5s linear .5s forwards; }

.-changeStart .memoir.-first .memoir-polaroid > div {
  transform: rotate(0) !important;
  opacity: 1 !important; }

.-changeStart .memoir::after {
  transform: translateX(0) !important; }

.earth {
  position: relative;
  height: 100%;
  background: url(../image/bg/bg06.jpg) no-repeat center/cover; }
  .-slideBg .earth::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/bg/bg07.jpg) no-repeat center/cover;
    pointer-events: none;
    opacity: 0; }
  .earth-flag {
    position: absolute;
    top: 0; }
    .earth-flag.-l {
      left: 0;
      width: 52.39316vw; }
    .earth-flag.-r {
      right: 0;
      width: 54.87179vw; }
  .earth-wrap {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 18% 0 60%; }
  .earth-content {
    flex: 0 0 auto;
    width: 100%; }
  .earth-text {
    line-height: 1.8; }
    .earth-text b {
      line-height: 1.5; }
  .earth-msg {
    width: 77.86325vw;
    margin: 5% auto 0; }
    .earth-msg img {
      width: 77.86325vw; }
  .earth-ball {
    position: absolute;
    bottom: -15.21368vw;
    left: 20.51282vw;
    width: 64.10256vw; }
  .earth.-none .earth-msg {
    width: 71.53846vw; }
    .earth.-none .earth-msg img {
      width: 71.53846vw; }
  @media only screen and (min-width: 542px) {
    .earth-flag.-l {
      width: 30.19058vh; }
    .earth-flag.-r {
      width: 31.61884vh; }
    .earth-msg {
      width: 44.86724vh; }
      .earth-msg img {
        width: 44.86724vh; }
    .earth-ball {
      bottom: -8.7666vh;
      left: 11.82013vh;
      width: 36.9379vh; }
    .earth.-none .earth-msg {
      width: 41.2227vh; }
      .earth.-none .earth-msg img {
        width: 41.2227vh; } }

@keyframes flagLeft {
  0% {
    transform: translate(-100%, -100%); }
  100% {
    transform: translate(0, 0); } }

@keyframes flagRight {
  0% {
    transform: translate(100%, -100%); }
  100% {
    transform: translate(0, 0); } }

@keyframes earth {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0); } }

@keyframes earthStand {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }

.earth-flag.-l {
  transform: translate(-100%, -100%); }

.earth-flag.-r {
  transform: translate(100%, -100%); }

.earth-text {
  opacity: 0; }
  .earth-text .-gnT b {
    transform: none; }

.earth-msg > div {
  width: 0;
  overflow: hidden; }

.earth-ball {
  transform: rotate(180deg);
  transform-origin: bottom center; }
  .earth-ball img {
    transform-origin: bottom center;
    animation: itemShake 1.5s ease-in-out infinite alternate; }

.swiper-slide-active .earth-flag.-l {
  animation: flagLeft 1s ease-out forwards; }

.swiper-slide-active .earth-flag.-r {
  animation: flagRight 1s ease-out forwards; }

.swiper-slide-active .earth-text {
  animation: zoomIn .8s ease-out 1.2s forwards; }
  .swiper-slide-active .earth-text .-rdT b {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 2.2s forwards; }

.swiper-slide-active .earth-msg > div {
  animation: msg .8s ease-out 2.9s forwards; }

.swiper-slide-active .earth-ball {
  animation: earth 1.5s cubic-bezier(0.09, 0.2, 0.34, 1.15) forwards; }

.swiper-slide-active .earth.-none .earth-msg > div {
  animation: msg .8s ease-out 2.2s forwards; }

.swiper-slide-active.-fadeOut.-slideBg .earth::after {
  animation: nextBg .5s linear .5s forwards; }

.-changeStart .earth::after {
  transform: translateX(0) !important; }

.summary {
  position: relative;
  height: 100%;
  background: url(../image/bg/bg07.jpg) no-repeat center/cover; }
  .-slideBg .summary::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/bg/bg08.jpg) no-repeat center/cover;
    pointer-events: none;
    opacity: 0; }
  .summary-title {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76.23932vw; }
  .summary-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 13% 0 50%; }

@keyframes contentH {
  0% {
    transform: translateY(-34.18803vw); }
  100% {
    transform: translateY(0); } }
  .summary-img {
    width: 57.26496vw;
    margin: 3% auto 2%; }
  .summary-like .text + .text {
    margin-top: 0; }
  .summary-cart {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70.94017vw; }
  @media only screen and (min-width: 542px) {
    .summary-title {
      width: 43.93148vh; }
    @keyframes contentH {
      0% {
        transform: translateY(-19.70021vh); }
      100% {
        transform: translateY(0); } }
    .summary-img {
      width: 32.99786vh; }
    .summary-cart {
      width: 40.87794vh; } }

@keyframes zoomInOut {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  25% {
    transform: scale(1);
    opacity: 1; }
  75% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }

@keyframes dot {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes summaryImg {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.summary-like {
  transform: translateY(-34.18803vw); }
  @media only screen and (min-width: 542px) {
    .summary-like {
      transform: translateY(-19.70021vh); } }
  .summary-like > div {
    opacity: 0; }
  .summary-like span {
    opacity: 0; }

.summary-title img, .summary-text, .summary-img {
  opacity: 0; }

.summary-img img {
  animation: lgItemShake .5s ease-in-out infinite alternate; }

.summary-cart > div {
  transform: translate(-130%, 0); }

.swiper-slide-active .summary-title img {
  animation: zoomInOut 3.8s ease-out 1.7s forwards; }

.swiper-slide-active .summary-like {
  animation: contentH .5s ease-out 10.6s forwards; }
  .swiper-slide-active .summary-like > .text {
    animation: zoomIn .5s ease-out 8.1s forwards; }
    .swiper-slide-active .summary-like > .text b {
      animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 11.3s forwards; }
  .swiper-slide-active .summary-like span {
    animation: dot .1s forwards; }
    .swiper-slide-active .summary-like span.-dot1 {
      animation-delay: 8.9s; }
    .swiper-slide-active .summary-like span.-dot2 {
      animation-delay: 9.5s; }
    .swiper-slide-active .summary-like span.-dot3 {
      animation-delay: 10.1s; }

.swiper-slide-active .summary-text {
  animation: zoomIn .8s ease-out 5.7s forwards; }
  .swiper-slide-active .summary-text b,
  .swiper-slide-active .summary-text img {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 6.7s forwards; }

.swiper-slide-active .summary-img {
  animation: summaryImg .8s ease-out 11.3s forwards; }

.swiper-slide-active.-cartIn .summary-cart > div {
  animation: 1.5s cubic-bezier(0, 0, 0.56, 1.38) forwards;
  animation-name: cartIn; }
  .swiper-slide-active.-cartIn .summary-cart > div img {
    transform-origin: bottom center;
    animation: cartShake 1s infinite; }

.swiper-slide-active.-fadeOut .summary-cart > div {
  animation: cartOut 1.5s cubic-bezier(0.61, -0.4, 1, 1) forwards; }

.swiper-slide-active.-fadeOut.-slideBg .summary::after {
  animation: nextBg .5s linear 1.5s forwards; }

.-changeStart .summary::after {
  transform: translateX(0) !important; }

.prevToNext {
  position: relative;
  height: 100%;
  background: url(../image/bg/bg08.jpg) no-repeat center/cover; }
  .prevToNext-logo {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    width: 42.73504vw; }
  .prevToNext-2023 {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translateX(-50%);
    width: 80.25641vw; }
  .prevToNext-2024 {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    width: 87.52137vw; }
  .prevToNext-msg {
    position: absolute;
    bottom: 23%;
    left: 50%;
    transform: translateX(-50%);
    width: 58.71795vw; }
    .prevToNext-msg img {
      width: 58.71795vw; }
  .prevToNext-newYear {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 159.82906vw; }
  @media only screen and (min-width: 542px) {
    .prevToNext-logo {
      width: 24.62527vh; }
    .prevToNext-2023 {
      width: 46.24625vh; }
    .prevToNext-2024 {
      width: 50.43255vh; }
    .prevToNext-msg {
      width: 33.83512vh; }
      .prevToNext-msg img {
        width: 33.83512vh; }
    .prevToNext-newYear {
      width: 92.0985vh; } }

.prevToNext-logo img,
.prevToNext-2023 img,
.prevToNext-2024 img {
  opacity: 0; }

.prevToNext-msg > div {
  width: 0;
  overflow: hidden; }

.swiper-slide-active .prevToNext-logo img {
  animation: zoomIn .8s ease-out forwards; }

.swiper-slide-active .prevToNext-2023 img {
  animation: zoomInOut 3s ease-out 1s forwards; }

.swiper-slide-active .prevToNext-2024 img {
  animation: zoomIn .8s ease-out 4.2s forwards; }

.swiper-slide-active .prevToNext-msg > div {
  animation: msg .8s ease-out 5.2s forwards; }

@keyframes baseShake {
  0% {
    transform: scaleY(1); }
  50% {
    transform: scaleY(0.97); }
  100% {
    transform: scaleY(1); } }

@keyframes fish01 {
  0% {
    transform: rotate(-10deg);
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    transform: rotate(90deg);
    opacity: 0; } }

@keyframes fish02 {
  0% {
    transform: rotate(-60deg);
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    transform: rotate(10deg);
    opacity: 0; } }

.newYear {
  position: relative;
  padding: 1.7094vw 0 0 31.62393vw; }
  .newYear-thank {
    position: absolute;
    top: 34.18803vw;
    left: 0;
    width: 60.8547vw;
    animation: itemShake .8s ease-in-out infinite alternate; }
  .newYear-base {
    position: relative;
    width: 121.53846vw;
    z-index: 1; }
    .newYear-base img {
      margin-bottom: -21.79487vw; }
  .newYear-fish01 {
    position: absolute;
    bottom: 18.88889vw;
    right: 45.7265vw;
    width: 16.66667vw;
    transform-origin: bottom right;
    animation: fish01 1.6s infinite; }
  .newYear-fish02 {
    position: absolute;
    bottom: 12.47863vw;
    right: 29.1453vw;
    width: 18.46154vw;
    transform-origin: bottom left;
    animation: fish02 1.6s 1.2s infinite; }
  .newYear-dragon {
    position: absolute;
    top: -0.8547vw;
    right: 0;
    width: 94.87179vw;
    z-index: 1;
    transform-origin: center left;
    animation: itemShake 1s linear infinite alternate; }
  @media only screen and (min-width: 542px) {
    .newYear {
      padding: 0.98501vh 0 0 18.2227vh; }
      .newYear-thank {
        top: 19.70021vh;
        width: 35.06638vh; }
      .newYear-base {
        width: 70.03426vh; }
        .newYear-base img {
          margin-bottom: -12.55889vh; }
      .newYear-fish01 {
        bottom: 10.88437vh;
        right: 26.34904vh;
        width: 9.60385vh; }
      .newYear-fish02 {
        bottom: 7.19058vh;
        right: 16.79443vh;
        width: 10.63812vh; }
      .newYear-dragon {
        top: -0.49251vh;
        width: 54.66809vh; } }

@keyframes newYearMove {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

.newYear {
  transform: translateX(100%); }
  .swiper-slide-active .newYear {
    animation: newYearMove 5.6s linear; }

.important {
  position: relative;
  height: 100%;
  background: url(../image/bg/bg08.jpg) no-repeat center/cover; }
  .important-memo {
    position: absolute;
    top: 47.5%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 92.30769vw;
    height: 159.48718vw; }
    .important-memo > div {
      width: 100%;
      height: 100%;
      background: url(../image/bg/memo.png) no-repeat center/contain; }
  .important-content {
    padding: 44% 0 16% 0; }
  .important-text b {
    line-height: 1.3; }
    .important-text b.-lg {
      line-height: 1; }
  .important-text .text + .text {
    margin-top: 3%; }
  .important-btn {
    width: 58.46154vw;
    margin: 5% auto; }
  .important-note {
    margin: 2% auto 0;
    font-size: 3.07692vw;
    font-weight: 500;
    color: #764e42;
    text-align: center; }
  .important-cart {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70.94017vw; }
  .important-again {
    margin-top: 20%;
    text-align: center; }
    .important-again img {
      width: 43.84615vw; }
  @media only screen and (min-width: 542px) {
    .important-memo {
      width: 53.19058vh;
      height: 91.9015vh; }
    .important-btn {
      width: 33.68737vh; }
    .important-note {
      font-size: 1.77302vh; }
    .important-cart {
      width: 40.87794vh; }
    .important-again img {
      width: 25.26552vh; } }

.important-memo > div, .important-text, .important-btn, .important-again {
  opacity: 0; }

.important-btn img {
  animation: lgItemShake .5s ease-in-out infinite alternate; }

.important-cart > div {
  transform: translate(-130%, 0); }

.swiper-slide-active.-cartIn .important-memo > div {
  transform-origin: top left;
  animation: polaroid 1s ease-out forwards; }

.swiper-slide-active.-cartIn .important-text.-an1 {
  animation: zoomIn .8s ease-out 1.7s forwards; }
  .swiper-slide-active.-cartIn .important-text.-an1 b {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 1.7s forwards; }

.swiper-slide-active.-cartIn .important-text.-an2 {
  animation: zoomIn .8s ease-out 3.7s forwards; }
  .swiper-slide-active.-cartIn .important-text.-an2 b {
    animation: textJump 0.5s cubic-bezier(0, 0, 0.56, 1.38) 3.7s forwards; }

.swiper-slide-active.-cartIn .important-btn {
  animation: zoomIn .8s ease-out 2.7s forwards; }

.swiper-slide-active.-cartIn .important-again {
  animation: zoomIn .8s ease-out 3.7s forwards; }

.swiper-slide-active.-cartIn .important-cart > div {
  animation: 1.5s cubic-bezier(0, 0, 0.56, 1.38) forwards;
  animation-name: cartIn; }
  .swiper-slide-active.-cartIn .important-cart > div img {
    transform-origin: bottom center;
    animation: cartShake 1s infinite; }

.end {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  background: url(../image/bg/bg08.jpg) no-repeat center/cover;
  text-align: center; }
  .end::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: url(../image/logo-wt.png) no-repeat top 4% left 4%/11.96581vw; }
  .end-text {
    width: 100%;
    margin-bottom: 5.12821vw;
    padding-left: 0.42735vw;
    font-size: 4.61538vw;
    color: #fff;
    letter-spacing: 0.42735vw; }
  @media only screen and (min-width: 542px) {
    .end::after {
      background-size: 6.89507vh; }
    .end-text {
      margin-bottom: 2.95503vh;
      padding-left: 0.24625vh;
      font-size: 2.65953vh;
      letter-spacing: 0.24625vh; } }

ul,
ol {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

.-rdT {
  color: #cb0000; }

.-gnT {
  color: #005422; }

@keyframes textJump {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }

.text {
  font-size: 5.12821vw;
  font-weight: bold;
  text-align: center;
  color: #764e42; }
  .text span {
    display: inline-flex;
    align-items: flex-end; }
  .text b {
    font-size: 6.83761vw;
    transform: scaleY(0);
    transform-origin: bottom center; }
    .text b.-lg {
      font-size: 8.54701vw; }
    .text b.-sm {
      font-size: 5.12821vw; }
  .text img {
    width: auto;
    height: 9.74359vw;
    vertical-align: bottom; }
  .text.-pk {
    font-size: 5.47009vw;
    color: #e87278; }
  .text + .text {
    margin-top: 6%; }
  @media only screen and (min-width: 542px) {
    .text {
      font-size: 2.95503vh; }
      .text img {
        height: 5.61456vh; }
      .text.-pk {
        font-size: 3.15203vh; }
      .text b {
        font-size: 3.94004vh; }
        .text b.-lg {
          font-size: 4.92505vh; }
        .text b.-sm {
          font-size: 2.95503vh; } }

.-note {
  font-size: 0.6em; }

.authentication {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  background: url(../image/bg/bg08.jpg) no-repeat center/cover; }
  .authentication::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: url(../image/logo-wt.png) no-repeat top 4% left 4%/11.96581vw; }
  .authentication-wrap {
    flex: 0 0 auto;
    width: 100%;
    text-align: center; }
  .authentication-title {
    width: 66.23932vw;
    margin: 0 auto 11.96581vw; }
  .authentication-text {
    margin-bottom: 2.05128vw;
    padding-left: 0.42735vw;
    font-size: 4.61538vw;
    color: #fff;
    letter-spacing: 0.42735vw; }
  .authentication-input {
    box-sizing: border-box;
    display: block;
    width: 57.94872vw;
    height: 11.96581vw;
    margin: 0 auto;
    padding: 0 0 0 0.8547vw;
    font-size: 6.83761vw;
    color: #fff;
    letter-spacing: 0.8547vw;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 0.51282vw solid #fff;
    border-radius: 0;
    outline: none; }
    .authentication-input::-webkit-inner-spin-button, .authentication-input::-webkit-outer-spin-button {
      -webkit-appearance: none; }
    .authentication-input:focus {
      outline: none; }
  .authentication-btn {
    box-sizing: border-box;
    display: block;
    margin: 12.82051vw auto 0;
    padding: 2.05128vw;
    width: 41.28205vw;
    height: 11.28205vw;
    font-size: 4.61538vw;
    color: #fff;
    text-decoration: none;
    border-radius: 0.8547vw;
    background-color: #c48475; }
  @media only screen and (min-width: 542px) {
    .authentication::after {
      background-size: 6.89507vh; }
    .authentication-title {
      width: 38.16916vh;
      margin: 0 auto 6.89507vh; }
    .authentication-text {
      margin-bottom: 1.18201vh;
      padding-left: 0.24625vh;
      font-size: 2.65953vh;
      letter-spacing: 0.24625vh; }
    .authentication-input {
      width: 33.39186vh;
      height: 6.89507vh;
      padding: 0 0 0 0.49251vh;
      font-size: 3.94004vh;
      letter-spacing: 0.49251vh;
      border-bottom: 0.2955vh solid #fff; }
    .authentication-btn {
      margin: 7.38758vh auto 0;
      padding: 1.18201vh;
      width: 23.78801vh;
      height: 6.50107vh;
      font-size: 2.65953vh;
      border-radius: 0.49251vh; } }

@media only screen and (min-width: 1024px) {
  .mbOnly {
    display: none; } }

@media only screen and (max-width: 1023px) {
  .pcOnly {
    display: none; } }

.hidden {
  display: none; }
