@-webkit-keyframes animXSm {
  0% {
    left: 0px; }
  100% {
    left: 500px; } }

@keyframes animXSm {
  0% {
    left: 0px; }
  100% {
    left: 500px; } }

@-webkit-keyframes animYSm {
  0% {
    top: 0px; }
  100% {
    top: 120px; } }

@keyframes animYSm {
  0% {
    top: 0px; }
  100% {
    top: 120px; } }

@-webkit-keyframes scaleSm {
  0% {
    transform: scale(0.8);
    z-index: 20; }
  25% {
    z-index: 20; }
  25.001% {
    z-index: 60; }
  50% {
    transform: scale(1.2);
    z-index: 60; }
  75% {
    z-index: 60; }
  75.001% {
    z-index: 20; }
  100% {
    transform: scale(0.8);
    z-index: 20; } }

@keyframes scaleSm {
  0% {
    transform: scale(0.8);
    z-index: 20; }
  25% {
    z-index: 20; }
  25.001% {
    z-index: 60; }
  50% {
    transform: scale(1.2);
    z-index: 60; }
  75% {
    z-index: 60; }
  75.001% {
    z-index: 20; }
  100% {
    transform: scale(0.8);
    z-index: 20; } }

@-webkit-keyframes scaleSmWrap {
  0% {
    transform: scale(0.8) rotate(-20deg);
    z-index: 21; }
  25% {
    z-index: 21; }
  25.001% {
    z-index: 61; }
  50% {
    transform: scale(1.2) rotate(-20deg);
    z-index: 61; }
  75% {
    z-index: 61; }
  75.001% {
    z-index: 21; }
  100% {
    transform: scale(0.8) rotate(-20deg);
    z-index: 21; } }

@keyframes scaleSmWrap {
  0% {
    transform: scale(0.8) rotate(-20deg);
    z-index: 21; }
  25% {
    z-index: 21; }
  25.001% {
    z-index: 61; }
  50% {
    transform: scale(1.2) rotate(-20deg);
    z-index: 61; }
  75% {
    z-index: 61; }
  75.001% {
    z-index: 21; }
  100% {
    transform: scale(0.8) rotate(-20deg);
    z-index: 21; } }

@-webkit-keyframes animXLg {
  0% {
    left: 0px; }
  100% {
    left: 800px; } }

@keyframes animXLg {
  0% {
    left: 0px; }
  100% {
    left: 800px; } }

@-webkit-keyframes animYLg {
  0% {
    top: 0px; }
  100% {
    top: 250px; } }

@keyframes animYLg {
  0% {
    top: 0px; }
  100% {
    top: 250px; } }

@-webkit-keyframes scaleLg {
  0% {
    transform: scale(0.6);
    z-index: 0; }
  25% {
    z-index: 0; }
  25.001% {
    z-index: 80; }
  50% {
    transform: scale(1.4);
    z-index: 80; }
  75% {
    z-index: 80; }
  75.001% {
    z-index: 0; }
  100% {
    transform: scale(0.6);
    z-index: 0; } }

@keyframes scaleLg {
  0% {
    transform: scale(0.6);
    z-index: 0; }
  25% {
    z-index: 0; }
  25.001% {
    z-index: 80; }
  50% {
    transform: scale(1.4);
    z-index: 80; }
  75% {
    z-index: 80; }
  75.001% {
    z-index: 0; }
  100% {
    transform: scale(0.6);
    z-index: 0; } }

@-webkit-keyframes scaleLgWrap {
  0% {
    transform: scale(0.6) rotate(-20deg);
    z-index: 1; }
  25% {
    z-index: 1; }
  25.001% {
    z-index: 81; }
  50% {
    transform: scale(1.4) rotate(-20deg);
    z-index: 81; }
  75% {
    z-index: 81; }
  75.001% {
    z-index: 1; }
  100% {
    transform: scale(0.6) rotate(-20deg);
    z-index: 1; } }

@keyframes scaleLgWrap {
  0% {
    transform: scale(0.6) rotate(-20deg);
    z-index: 1; }
  25% {
    z-index: 1; }
  25.001% {
    z-index: 81; }
  50% {
    transform: scale(1.4) rotate(-20deg);
    z-index: 81; }
  75% {
    z-index: 81; }
  75.001% {
    z-index: 1; }
  100% {
    transform: scale(0.6) rotate(-20deg);
    z-index: 1; } }

@-webkit-keyframes scaleSmSm {
  0% {
    transform: scale(0.3);
    z-index: 20; }
  25% {
    z-index: 20; }
  25.001% {
    z-index: 60; }
  50% {
    transform: scale(0.7);
    z-index: 60; }
  75% {
    z-index: 60; }
  75.001% {
    z-index: 20; }
  100% {
    transform: scale(0.3);
    z-index: 20; } }

@keyframes scaleSmSm {
  0% {
    transform: scale(0.3);
    z-index: 20; }
  25% {
    z-index: 20; }
  25.001% {
    z-index: 60; }
  50% {
    transform: scale(0.7);
    z-index: 60; }
  75% {
    z-index: 60; }
  75.001% {
    z-index: 20; }
  100% {
    transform: scale(0.3);
    z-index: 20; } }

@-webkit-keyframes scaleSmSmWrap {
  0% {
    transform: scale(0.3) rotate(-20deg);
    z-index: 21; }
  25% {
    z-index: 21; }
  25.001% {
    z-index: 61; }
  50% {
    transform: scale(0.7) rotate(-20deg);
    z-index: 61; }
  75% {
    z-index: 61; }
  75.001% {
    z-index: 21; }
  100% {
    transform: scale(0.3) rotate(-20deg);
    z-index: 21; } }

@keyframes scaleSmSmWrap {
  0% {
    transform: scale(0.3) rotate(-20deg);
    z-index: 21; }
  25% {
    z-index: 21; }
  25.001% {
    z-index: 61; }
  50% {
    transform: scale(0.7) rotate(-20deg);
    z-index: 61; }
  75% {
    z-index: 61; }
  75.001% {
    z-index: 21; }
  100% {
    transform: scale(0.3) rotate(-20deg);
    z-index: 21; } }

@-webkit-keyframes scaleLgLg {
  0% {
    transform: scale(1.2);
    z-index: 0; }
  25% {
    z-index: 0; }
  25.001% {
    z-index: 80; }
  50% {
    transform: scale(2);
    z-index: 80; }
  75% {
    z-index: 80; }
  75.001% {
    z-index: 0; }
  100% {
    transform: scale(1.2);
    z-index: 0; } }

@keyframes scaleLgLg {
  0% {
    transform: scale(1.2);
    z-index: 0; }
  25% {
    z-index: 0; }
  25.001% {
    z-index: 80; }
  50% {
    transform: scale(2);
    z-index: 80; }
  75% {
    z-index: 80; }
  75.001% {
    z-index: 0; }
  100% {
    transform: scale(1.2);
    z-index: 0; } }

@-webkit-keyframes scaleLgLgWrap {
  0% {
    transform: scale(1.2) rotate(-20deg);
    z-index: 1; }
  25% {
    z-index: 1; }
  25.001% {
    z-index: 81; }
  50% {
    transform: scale(2) rotate(-20deg);
    z-index: 81; }
  75% {
    z-index: 81; }
  75.001% {
    z-index: 1; }
  100% {
    transform: scale(1.2) rotate(-20deg);
    z-index: 1; } }

@keyframes scaleLgLgWrap {
  0% {
    transform: scale(1.2) rotate(-20deg);
    z-index: 1; }
  25% {
    z-index: 1; }
  25.001% {
    z-index: 81; }
  50% {
    transform: scale(2) rotate(-20deg);
    z-index: 81; }
  75% {
    z-index: 81; }
  75.001% {
    z-index: 1; }
  100% {
    transform: scale(1.2) rotate(-20deg);
    z-index: 1; } }

body {
  background-color: #192237; }

.space {
  transform-origin: top left;
  transform: rotate(20deg); }

.ball {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%; }

.ball.-wrap {
  height: 100px;
  border-radius: 50%;
  background: none !important;
  overflow: hidden; }
  .ball.-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: 60%;
    border-radius: 0 0 50% 50%; }

.ring {
  position: absolute;
  border-top: 6px solid #fff;
  border-radius: 50%; }
  .ring.-top {
    border-top: none;
    border-bottom: 6px solid #fff; }

.group {
  position: relative;
  display: inline-block; }
  .group.-sm {
    top: 50px;
    left: 170px; }
    .group.-sm .ball {
      background: url(./../images/venus.png) no-repeat center/100px; }
      .group.-sm .ball.-wrap::before {
        background: url(./../images/venus-wrap.png) no-repeat center top/100px; }
      .group.-sm .ball:nth-child(1) {
        -webkit-animation: animXSm 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, animYSm 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate, scaleSm 20s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
                animation: animXSm 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, animYSm 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate, scaleSm 20s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate; }
        .group.-sm .ball:nth-child(1).-wrap {
          -webkit-animation: animXSm 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, animYSm 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate, scaleSmWrap 20s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
                  animation: animXSm 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, animYSm 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate, scaleSmWrap 20s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate; }
      .group.-sm .ball:nth-child(2) {
        background: url(./../images/mars.png) no-repeat center/100px;
        -webkit-animation: animXSm 10s cubic-bezier(0.36, 0, 0.64, 1) -11.667s infinite alternate, animYSm 10s cubic-bezier(0.36, 0, 0.64, 1) -6.667s infinite alternate, scaleSmSm 20s cubic-bezier(0.36, 0, 0.64, 1) -6.667s infinite alternate;
                animation: animXSm 10s cubic-bezier(0.36, 0, 0.64, 1) -11.667s infinite alternate, animYSm 10s cubic-bezier(0.36, 0, 0.64, 1) -6.667s infinite alternate, scaleSmSm 20s cubic-bezier(0.36, 0, 0.64, 1) -6.667s infinite alternate; }
        .group.-sm .ball:nth-child(2).-wrap {
          -webkit-animation: animXSm 10s cubic-bezier(0.36, 0, 0.64, 1) -11.667s infinite alternate, animYSm 10s cubic-bezier(0.36, 0, 0.64, 1) -6.667s infinite alternate, scaleSmSmWrap 20s cubic-bezier(0.36, 0, 0.64, 1) -6.667s infinite alternate;
                  animation: animXSm 10s cubic-bezier(0.36, 0, 0.64, 1) -11.667s infinite alternate, animYSm 10s cubic-bezier(0.36, 0, 0.64, 1) -6.667s infinite alternate, scaleSmSmWrap 20s cubic-bezier(0.36, 0, 0.64, 1) -6.667s infinite alternate; }
          .group.-sm .ball:nth-child(2).-wrap::before {
            background: url(./../images/mars-wrap.png) no-repeat center top/100px; }
      .group.-sm .ball:nth-child(3) {
        -webkit-animation: animXSm 10s cubic-bezier(0.36, 0, 0.64, 1) -18.332s infinite alternate, animYSm 10s cubic-bezier(0.36, 0, 0.64, 1) -13.332s infinite alternate, scaleSm 20s cubic-bezier(0.36, 0, 0.64, 1) -13.332s infinite alternate;
                animation: animXSm 10s cubic-bezier(0.36, 0, 0.64, 1) -18.332s infinite alternate, animYSm 10s cubic-bezier(0.36, 0, 0.64, 1) -13.332s infinite alternate, scaleSm 20s cubic-bezier(0.36, 0, 0.64, 1) -13.332s infinite alternate; }
        .group.-sm .ball:nth-child(3).-wrap {
          -webkit-animation: animXSm 10s cubic-bezier(0.36, 0, 0.64, 1) -18.332s infinite alternate, animYSm 10s cubic-bezier(0.36, 0, 0.64, 1) -13.332s infinite alternate, scaleSmWrap 20s cubic-bezier(0.36, 0, 0.64, 1) -13.332s infinite alternate;
                  animation: animXSm 10s cubic-bezier(0.36, 0, 0.64, 1) -18.332s infinite alternate, animYSm 10s cubic-bezier(0.36, 0, 0.64, 1) -13.332s infinite alternate, scaleSmWrap 20s cubic-bezier(0.36, 0, 0.64, 1) -13.332s infinite alternate; }
    .group.-sm .ring {
      top: 45px;
      left: 50px;
      width: 500px;
      height: 120px;
      z-index: 21; }
      .group.-sm .ring.-top {
        z-index: 60; }
  .group.-lg {
    left: 50px; }
    .group.-lg .ball {
      background: url(./../images/mercury.png) no-repeat center/100px; }
      .group.-lg .ball.-wrap::before {
        background: url(./../images/mercury-wrap.png) no-repeat center top/100px; }
      .group.-lg .ball:nth-child(1) {
        -webkit-animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate, scaleLg 20s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
                animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate, scaleLg 20s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate; }
        .group.-lg .ball:nth-child(1).-wrap {
          -webkit-animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate, scaleLgWrap 20s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
                  animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate, scaleLgWrap 20s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate; }
      .group.-lg .ball:nth-child(2) {
        -webkit-animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, scaleLg 20s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate;
                animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, scaleLg 20s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate; }
        .group.-lg .ball:nth-child(2).-wrap {
          -webkit-animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, scaleLgWrap 20s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate;
                  animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate, scaleLgWrap 20s cubic-bezier(0.36, 0, 0.64, 1) -5s infinite alternate; }
      .group.-lg .ball:nth-child(3) {
        -webkit-animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, scaleLg 20s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate;
                animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, scaleLg 20s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate; }
        .group.-lg .ball:nth-child(3).-wrap {
          -webkit-animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, scaleLgWrap 20s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate;
                  animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate, scaleLgWrap 20s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate; }
      .group.-lg .ball:nth-child(4) {
        background: url(./../images/moon.png) no-repeat center/100px;
        -webkit-animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -20s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate, scaleLgLg 20s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate;
                animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -20s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate, scaleLgLg 20s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate; }
        .group.-lg .ball:nth-child(4).-wrap {
          -webkit-animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -20s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate, scaleLgLgWrap 20s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate;
                  animation: animXLg 10s cubic-bezier(0.36, 0, 0.64, 1) -20s infinite alternate, animYLg 10s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate, scaleLgLgWrap 20s cubic-bezier(0.36, 0, 0.64, 1) -15s infinite alternate; }
          .group.-lg .ball:nth-child(4).-wrap::before {
            background: url(./../images/moon-wrap.png) no-repeat center top/100px; }
    .group.-lg .ring {
      top: 45px;
      left: 50px;
      width: 800px;
      height: 250px;
      z-index: 1; }
      .group.-lg .ring.-top {
        z-index: 80; }

.ballll {
  position: absolute;
  width: 380px;
  height: 380px;
  top: 0;
  left: 280px;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  background-color: #656565;
  z-index: 40; }
