html,
body {
  font-family: "Noto Sans TC", sans-serif, Arial, "Microsoft JhengHei", Helvetica;
  font-size: 16px;
  line-height: 1.5;
  color: #333; }

a,
button {
  outline: none; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

html,
body {
  height: 100%; }

.container {
  min-height: 100%;
  overflow: hidden; }

/* ------------------------------- Header ------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 15px 30px;
  box-shadow: 0px 10px 40px 0 rgba(4, 4, 4, 0.14);
  background-color: #f3eeeb;
  z-index: 99; }
  .header-logo {
    display: block;
    width: 190px; }
  @media only screen and (max-width: 1280px) {
    .header {
      height: 55px;
      padding: 10px 30px; }
      .header-logo {
        width: 130px; } }
  @media only screen and (max-width: 767px) {
    .header {
      padding: 10px 20px; } }

/* ------------------------------- Main ------------------------------- */
.main {
  padding-top: 80px; }
  @media only screen and (max-width: 1280px) {
    .main {
      padding-top: 55px; } }

/* ------------------------------- Footer ------------------------------- */
.footer {
  padding: 15px;
  font-size: 17px;
  line-height: 1.8;
  color: #707070;
  text-align: center;
  background-color: #f5e2d1; }
  @media only screen and (max-width: 1280px) {
    .footer {
      padding: 10px;
      font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    .footer {
      font-size: 12px; } }

/* ------------------------------- Floating tool ------------------------------- */
.gotop {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 50; }

@-webkit-keyframes float {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(10px); } }

@keyframes float {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(10px); } }

@-webkit-keyframes shake {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(2deg); } }

@keyframes shake {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(2deg); } }

.boy {
  -webkit-animation: float 2s ease-in-out infinite alternate;
          animation: float 2s ease-in-out infinite alternate; }
  .boy img {
    width: 100%; }

.girl {
  animation: float 2s ease-in-out infinite alternate-reverse; }
  .girl img {
    width: 100%; }

.banner {
  position: relative; }
  .banner img.-mb {
    display: none; }
  .banner-bg img {
    width: 100%; }
  .banner > div:not(.banner-bg) {
    position: absolute; }
  .banner-girl {
    top: 9%;
    left: 16%; }
    .banner-girl img {
      width: 18vw; }
  .banner-boy {
    top: 16%;
    right: 12%; }
    .banner-boy img {
      width: 14.8vw; }
  .banner-slogan {
    top: 7.5%;
    left: 50%;
    transform: translateX(-50%); }
    .banner-slogan img {
      width: 65vw; }
  .banner-star {
    top: 5%;
    left: 2%;
    -webkit-animation: shake 4s ease-in-out infinite alternate;
            animation: shake 4s ease-in-out infinite alternate; }
    .banner-star img {
      width: 90.4vw; }
  .banner-coin {
    top: 3%;
    left: 2%;
    -webkit-animation: shake 4s -2s ease-in-out infinite alternate;
            animation: shake 4s -2s ease-in-out infinite alternate; }
    .banner-coin img {
      width: 96.8vw; }
  @media only screen and (max-width: 767px) {
    .banner img.-pc {
      display: none; }
    .banner img.-mb {
      display: block; }
    .banner-slogan {
      top: 16%;
      left: 51%; }
      .banner-slogan img {
        width: 98vw; }
    .banner-girl {
      top: 8%;
      left: -2%; }
      .banner-girl img {
        width: 28vw; }
    .banner-boy {
      top: 43%;
      right: -3%; }
      .banner-boy img {
        width: 26vw; }
    .banner-star {
      display: none; }
    .banner-coin {
      top: 0;
      left: 0; }
      .banner-coin img {
        width: 100vw; } }

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ff8179; }
  100% {
    box-shadow: 0 0 0 15px transparent; } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ff8179; }
  100% {
    box-shadow: 0 0 0 15px transparent; } }

@-webkit-keyframes pulseOg {
  0% {
    box-shadow: 0 0 0 0 #fba059; }
  100% {
    box-shadow: 0 0 0 15px transparent; } }

@keyframes pulseOg {
  0% {
    box-shadow: 0 0 0 0 #fba059; }
  100% {
    box-shadow: 0 0 0 15px transparent; } }

.btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 310px;
  padding: 15px;
  font-size: 31px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 37px;
  background-color: #ff8179; }
  .btn:hover {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite; }
  .btn.-og {
    background-color: #fba059; }
    .btn.-og:hover {
      -webkit-animation: pulseOg 1s infinite;
              animation: pulseOg 1s infinite; }
  @media only screen and (max-width: 1280px) {
    .btn {
      max-width: 240px;
      padding: 12px;
      font-size: 24px; } }
  @media only screen and (max-width: 1023px) {
    .btn:hover {
      -webkit-animation: none;
              animation: none; } }
  @media only screen and (max-width: 767px) {
    .btn {
      max-width: 180px;
      padding: 10px;
      font-size: 18px; } }

.block {
  position: relative;
  padding: 50px 0 0; }
  .block::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    height: 144px;
    background: url(../images/bg/wave.png) no-repeat top center/contain;
    pointer-events: none;
    z-index: 10; }
  .block.-og {
    padding: 170px 0 230px;
    background: url(../images/bg/og-line.jpg) repeat center/auto; }
    .block.-og::after {
      content: none; }
  .block.-bu {
    padding: 20px 0 60px;
    background: #e0fafe url(../images/bg/cloud.png) no-repeat bottom right 30px/auto; }
    .block.-bu::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 1920px;
      height: 185px;
      background: url(../images/bg/wave-bu.png) no-repeat bottom center/contain;
      pointer-events: none; }
    .block.-bu::after {
      content: none; }
  .block-wrap {
    box-sizing: border-box;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 40px; }
  .block-title {
    display: flex;
    justify-content: center; }
    .block-title img {
      height: 88px;
      margin: 0 10px; }
    .block-title .star {
      content: '';
      width: 57px;
      height: 67px; }
      .block-title .star.-left {
        background: url(../images/title/star-l.png) no-repeat center/contain; }
      .block-title .star.-right {
        align-self: center;
        background: url(../images/title/star-r.png) no-repeat center/contain; }
  .block-content {
    margin-top: 50px; }
  @media only screen and (max-width: 1280px) {
    .block::after {
      width: 1280px; }
    .block.-og {
      padding: 130px 0 160px; }
    .block.-bu::before {
      width: 1280px; }
    .block-wrap {
      max-width: 800px;
      padding: 0 30px; }
    .block-title img {
      height: 60px; }
    .block-title .star {
      width: 38px;
      height: 45px; }
    .block-content {
      margin-top: 30px; } }
  @media only screen and (max-width: 767px) {
    .block::after {
      width: 768px; }
    .block.-og {
      padding: 100px 0; }
    .block.-bu {
      background: #e0fafe url(../images/bg/cloud.png) no-repeat bottom right -30px/90%; }
      .block.-bu::before {
        width: 768px; }
    .block-wrap {
      padding: 0 20px; }
    .block-title img {
      height: 45px;
      margin: 0 8px; }
    .block-title .star {
      width: 30px;
      height: 35px; }
    .block-content {
      margin-top: 20px; } }

@-webkit-keyframes shakeSmItem {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(5deg); } }

@keyframes shakeSmItem {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(5deg); } }

.gift {
  display: flex;
  align-items: center; }
  .gift-text {
    flex: 1;
    font-size: 32px;
    line-height: 1.8;
    font-weight: 500; }
    .gift-text img {
      margin-right: 3px;
      padding-bottom: 5px;
      vertical-align: middle; }
    .gift-text span.stress {
      color: #ff4439; }
    .gift-text span.note {
      font-size: 24px; }
    .gift-text p {
      position: relative;
      display: inline;
      font-weight: bold;
      color: #ff8412; }
      .gift-text p::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: -8px;
        right: -8px;
        display: block;
        height: 30px;
        background-color: #ffd875;
        z-index: -1; }
  .gift-pic {
    position: relative;
    flex: 0 0 auto;
    width: 255px;
    padding-right: 80px; }
    .gift-pic img {
      width: 100%; }
    .gift-pic::after {
      content: '';
      position: absolute;
      bottom: 20px;
      right: -38px;
      width: 163px;
      height: 133px;
      background: url(../images/deco/gift.png) no-repeat center/contain;
      -webkit-animation: shakeSmItem 1s ease-in-out infinite alternate;
              animation: shakeSmItem 1s ease-in-out infinite alternate; }
  @media only screen and (max-width: 1280px) {
    .gift-text {
      font-size: 24px; }
      .gift-text img {
        width: 30px; }
      .gift-text span.note {
        font-size: 16px; }
      .gift-text p::before {
        bottom: -3px;
        left: -5px;
        right: -5px;
        height: 20px; }
    .gift-pic {
      width: 180px;
      padding-right: 40px; }
      .gift-pic::after {
        width: 97px;
        height: 95px; } }
  @media only screen and (max-width: 767px) {
    .gift {
      display: block; }
      .gift-text {
        font-size: 18px;
        text-align: center; }
        .gift-text img {
          width: 22px; }
        .gift-text span.note {
          font-size: 12px; }
        .gift-text p::before {
          height: 16px; }
      .gift-pic {
        margin: 20px auto 0;
        padding-right: 0; }
        .gift-pic::after {
          right: -77px; } }

.mission {
  position: relative;
  width: 850px;
  margin-left: auto;
  padding: 100px 0; }
  .mission::before, .mission::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 604px;
    height: 160px;
    background: url(../images/bg/cloud-bu.png) no-repeat center/contain; }
  .mission::before {
    top: 120px;
    right: -120px; }
  .mission::after {
    bottom: 35px;
    left: -320px; }
  .mission-item {
    position: relative;
    box-sizing: border-box;
    display: flex;
    margin-right: 270px;
    padding: 18px 30px 19px;
    color: #71cdec;
    text-decoration: none;
    border-radius: 44px;
    background-color: #fff;
    border: 6px solid #71cdec;
    transition: .2s; }
    .mission-item + .mission-item {
      margin-top: 50px; }
    .mission-item:hover {
      color: #fff;
      background-color: #71cdec;
      transform: translateX(20px); }
      .mission-item:hover .mission-content {
        color: #fff; }
        .mission-item:hover .mission-content p {
          color: #00b1eb;
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          background-color: #fff; }
    .mission-item:nth-child(2) {
      color: #3aceff;
      border-color: #3aceff; }
      .mission-item:nth-child(2) .mission-content {
        color: #00c0ff; }
        .mission-item:nth-child(2) .mission-content p {
          color: #fff;
          background-color: #00c0ff; }
      .mission-item:nth-child(2):hover {
        color: #fff;
        background-color: #3aceff; }
        .mission-item:nth-child(2):hover .mission-content {
          color: #fff; }
          .mission-item:nth-child(2):hover .mission-content p {
            color: #00c0ff;
            background-color: #fff; }
    .mission-item:nth-child(3) {
      color: #00b1eb;
      border-color: #00b1eb; }
      .mission-item:nth-child(3) .mission-content {
        color: #00b1eb; }
        .mission-item:nth-child(3) .mission-content p {
          color: #fff;
          background-color: #00b1eb; }
      .mission-item:nth-child(3):hover {
        color: #fff;
        background-color: #00b1eb; }
        .mission-item:nth-child(3):hover .mission-content {
          color: #fff; }
          .mission-item:nth-child(3):hover .mission-content p {
            color: #00b1eb;
            background-color: #fff; }
    .mission-item:nth-child(4) {
      color: #008bb9;
      border-color: #008bb9; }
      .mission-item:nth-child(4) .mission-content {
        color: #008bb9; }
        .mission-item:nth-child(4) .mission-content p {
          color: #fff;
          background-color: #008bb9; }
      .mission-item:nth-child(4):hover {
        color: #fff;
        background-color: #008bb9; }
        .mission-item:nth-child(4):hover .mission-content {
          color: #fff; }
          .mission-item:nth-child(4):hover .mission-content p {
            color: #008bb9;
            background-color: #fff; }
  .mission-num {
    flex: 0 0 auto;
    margin-right: 35px;
    font-size: 42px;
    font-weight: bold; }
  .mission-content {
    flex: 1;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    color: #1598c4;
    transition: .2s; }
    .mission-content p {
      position: absolute;
      bottom: 0;
      left: 160px;
      transform: translateY(50%);
      box-sizing: border-box;
      width: 615px;
      padding: 11px 20px 12px;
      font-size: 26px;
      font-weight: 300;
      line-height: 1.5;
      color: #fff;
      border-radius: 31px;
      background-color: #71cdec;
      transition: .2s; }
  .mission-deco > div {
    position: absolute; }
  .mission-coin {
    width: 158px;
    height: 184px; }
    .mission-coin img {
      width: 100%;
      -webkit-animation: shakeSmItem 1s ease-in-out infinite alternate;
              animation: shakeSmItem 1s ease-in-out infinite alternate; }
    .mission-coin.-left {
      bottom: 20px;
      left: -370px; }
    .mission-coin.-right {
      bottom: 250px;
      right: -110px;
      transform: rotateY(180deg); }
  .mission-boy {
    top: 110px;
    left: -300px;
    width: 275px;
    transform: rotateY(180deg); }
  @media only screen and (max-width: 1280px) {
    .mission {
      width: 590px;
      padding: 80px 0; }
      .mission::before, .mission::after {
        width: 450px;
        height: 120px; }
      .mission::before {
        top: 70px; }
      .mission::after {
        left: -150px; }
      .mission-item {
        margin-right: 120px;
        padding: 11px 20px 12px;
        border-width: 5px;
        border-radius: 36px; }
        .mission-item + .mission-item {
          margin-top: 45px; }
      .mission-num {
        margin-right: 20px;
        font-size: 34px; }
      .mission-content {
        font-size: 26px; }
        .mission-content p {
          left: 125px;
          width: 470px;
          padding: 5px 15px 7px;
          font-size: 20px; }
      .mission-coin {
        width: 100px;
        height: 115px; }
        .mission-coin.-left {
          left: -100px; }
        .mission-coin.-right {
          bottom: 210px;
          right: -90px; }
      .mission-boy {
        top: 50px;
        left: -170px;
        width: 165px; } }
  @media only screen and (max-width: 767px) {
    .mission {
      width: 360px;
      margin: 0 auto;
      padding: 60px 0; }
      .mission::before, .mission::after {
        width: 250px;
        height: 67px; }
      .mission-item {
        margin-right: 65px;
        padding: 6px 15px 22px;
        border-width: 4px;
        border-radius: 28px; }
        .mission-item:hover {
          transform: none; }
        .mission-item + .mission-item {
          margin-top: 35px; }
      .mission-num {
        margin-right: 10px;
        font-size: 22px; }
      .mission-content {
        padding-top: 8px;
        font-size: 17px; }
        .mission-content p {
          left: 15px;
          width: 330px;
          margin-right: -60px;
          padding: 4px 10px 5px;
          font-size: 14px; }
      .mission-coin {
        width: 65px;
        height: 75px; }
        .mission-coin.-left {
          top: -40px;
          bottom: auto;
          left: -30px; }
        .mission-coin.-right {
          bottom: -20px;
          right: -35px; }
      .mission-boy {
        display: none; } }

.form {
  position: relative;
  width: 665px;
  margin: 0 auto; }
  .form-check {
    margin-top: 55px; }
  .form-terms {
    margin-top: 40px; }
  .form-note {
    margin-top: 40px;
    font-size: 22px;
    text-align: center;
    color: #707070; }
  .form-action {
    display: flex;
    justify-content: center;
    margin-top: 55px; }
    .form-action .btn + .btn {
      margin-left: 40px; }
  .form-deco > div {
    position: absolute; }
  .form-phone {
    top: 0;
    left: -278px;
    -webkit-animation: shakeSmItem 2s ease-in-out infinite alternate;
            animation: shakeSmItem 2s ease-in-out infinite alternate; }
  .form-car {
    bottom: 180px;
    left: -438px;
    -webkit-animation: shakeSmItem 2s ease-in-out infinite alternate;
            animation: shakeSmItem 2s ease-in-out infinite alternate; }
  .form-girl {
    top: -10px;
    right: -393px;
    -webkit-animation: shakeSmItem 2s -1s ease-in-out infinite alternate;
            animation: shakeSmItem 2s -1s ease-in-out infinite alternate; }
  .form-memo {
    bottom: 180px;
    right: -338px;
    -webkit-animation: shakeSmItem 2s -1s ease-in-out infinite alternate;
            animation: shakeSmItem 2s -1s ease-in-out infinite alternate; }
  @media only screen and (max-width: 1280px) {
    .form {
      width: 520px; }
      .form-check {
        margin-top: 35px; }
      .form-terms {
        margin-top: 35px; }
      .form-note {
        margin-top: 30px;
        font-size: 18px; }
      .form-action {
        margin-top: 40px; }
      .form-phone {
        top: -50px;
        left: -100px; }
        .form-phone img {
          width: 90px; }
      .form-car {
        left: -190px;
        transform: rotateY(180deg); }
        .form-car img {
          width: 150px; }
      .form-girl {
        top: 200px;
        right: -185px; }
        .form-girl img {
          width: 175px; }
      .form-memo {
        bottom: 45px;
        right: -110px; }
        .form-memo img {
          width: 120px; } }
  @media only screen and (max-width: 767px) {
    .form {
      width: 100%;
      max-width: 370px; }
      .form-check {
        margin-top: 30px; }
      .form-terms {
        margin-top: 30px; }
      .form-note {
        margin-top: 25px;
        font-size: 15px; }
      .form-action {
        margin-top: 35px; }
        .form-action .btn + .btn {
          margin-left: 25px; }
      .form-check, .form-terms {
        margin-left: -5px;
        margin-right: -5px; }
      .form-deco {
        display: none; } }

.input {
  display: flex;
  align-items: center; }
  .input + .input {
    margin-top: 20px; }
  .input-name {
    flex: 0 0 auto;
    width: 4em;
    margin-right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #ff5454; }
    .input-name.-lg {
      width: 6em; }
  .input-val {
    flex: 1; }
    .input-val input {
      box-sizing: border-box;
      padding: 15px 20px;
      width: 100%;
      height: 52px;
      font-family: "Noto Sans TC", sans-serif, Arial, "Microsoft JhengHei", Helvetica;
      font-size: 20px;
      color: #000;
      outline: none;
      border-radius: 26px;
      border: none;
      background-color: #fff;
      outline: none; }
      .input-val input.placeholder {
        font-size: 20px;
        color: #bab6b6; }
      .input-val input:-moz-placeholder {
        font-size: 20px;
        color: #bab6b6; }
      .input-val input::-moz-placeholder {
        font-size: 20px;
        color: #bab6b6; }
      .input-val input:-ms-input-placeholder {
        font-size: 20px;
        color: #bab6b6; }
      .input-val input::-webkit-input-placeholder {
        font-size: 20px;
        color: #bab6b6; }
  .input.is-error input {
    border: 2px solid #ff0000; }
  @media only screen and (max-width: 1280px) {
    .input + .input {
      margin-top: 15px; }
    .input-name {
      margin-right: 15px;
      font-size: 22px; }
    .input-val input {
      padding: 12px 20px;
      height: 45px;
      font-size: 18px; }
      .input-val input.placeholder {
        font-size: 18px; }
      .input-val input:-moz-placeholder {
        font-size: 18px; }
      .input-val input::-moz-placeholder {
        font-size: 18px; }
      .input-val input:-ms-input-placeholder {
        font-size: 18px; }
      .input-val input::-webkit-input-placeholder {
        font-size: 18px; } }
  @media only screen and (max-width: 767px) {
    .input {
      display: block; }
      .input + .input {
        margin-top: 20px; }
      .input-name {
        margin-right: 0;
        margin-bottom: 5px;
        font-size: 18px; }
      .input-val input {
        padding: 9px 15px;
        height: 39px;
        font-size: 16px; }
        .input-val input.placeholder {
          font-size: 16px; }
        .input-val input:-moz-placeholder {
          font-size: 16px; }
        .input-val input::-moz-placeholder {
          font-size: 16px; }
        .input-val input:-ms-input-placeholder {
          font-size: 16px; }
        .input-val input::-webkit-input-placeholder {
          font-size: 16px; }
      .input.is-error input {
        border-width: 1px; } }

.check {
  display: flex;
  justify-content: space-between; }
  .check-item {
    flex: 0 0 auto;
    width: 195px; }
  .check-pic {
    margin-bottom: 12px;
    text-align: center; }
  @media only screen and (max-width: 1280px) {
    .check-item {
      width: 155px; }
    .check-pic img {
      width: 80%; }
    .check-text {
      display: flex;
      justify-content: center; } }
  @media only screen and (max-width: 767px) {
    .check-item {
      width: 110px; }
    .check-pic {
      margin-bottom: 8px; } }

.checkbox input {
  display: none; }

.checkbox p {
  position: relative;
  padding-left: 35px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #008bb9; }
  .checkbox p::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    border-radius: 10px;
    border: 2px solid #008bb9;
    background-color: #fff;
    cursor: pointer; }
  .checkbox p a {
    color: #0429a3;
    text-decoration: none; }

.checkbox input:checked + p::before {
  background: #008bb9 url(../images/icon/form/check.svg) no-repeat center/18px; }

.is-error .checkbox p::before, .checkbox.is-error p::before {
  border-color: #ff0000; }

@media only screen and (max-width: 1280px) {
  .checkbox p {
    padding-left: 26px;
    font-size: 16px; }
    .checkbox p::before {
      width: 22px;
      height: 22px;
      border-radius: 8px; }
  .checkbox input:checked + p::before {
    background-size: 13px; } }

@media only screen and (max-width: 767px) {
  .checkbox p {
    padding-left: 20px;
    font-size: 14px; }
    .checkbox p::before {
      top: 0;
      width: 17px;
      height: 17px;
      border-width: 1px;
      border-radius: 6px; }
  .checkbox input:checked + p::before {
    background-size: 10px; } }

.birth {
  position: relative; }
  .birth::before, .birth::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 14px;
    height: 4px;
    background-color: #ff5454; }
  .birth::before {
    left: calc((100% - 50px)/3);
    transform: translate(6px, -50%); }
  .birth::after {
    right: calc((100% - 50px)/3);
    transform: translate(-6px, -50%); }
  .birth input {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden; }
  .birth-wrap {
    display: flex; }
  .birth select {
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;
    height: 52px;
    font-family: "Noto Sans TC", sans-serif, Arial, "Microsoft JhengHei", Helvetica;
    font-size: 20px;
    color: #bab6b6;
    outline: none;
    border-radius: 26px;
    border: none;
    background: #fff url(../images/icon/form/triangle.svg) no-repeat right 16px center/17px;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .birth select + select {
      margin-left: 25px; }
    .birth select option {
      color: #000; }
    .birth select.has-value {
      color: #000; }
  .is-error .birth select {
    border: 2px solid #ff0000; }
  @media only screen and (max-width: 1280px) {
    .birth::before, .birth::after {
      width: 9px;
      height: 3px; }
    .birth::before {
      transform: translate(8px, -50%); }
    .birth::after {
      transform: translate(-8px, -50%); }
    .birth select {
      padding: 8px 20px;
      height: 45px;
      font-size: 18px;
      background-size: 12px; }
      .birth select + select {
        margin-left: 25px; } }
  @media only screen and (max-width: 767px) {
    .birth::before, .birth::after {
      height: 2px; }
    .birth select {
      padding: 9px 15px;
      height: 39px;
      font-size: 16px;
      background-size: 10px;
      background-position: center right 12px; }
      .birth select + select {
        margin-left: 20px; }
    .is-error .birth select {
      border-width: 1px; } }

.checkGroup {
  display: flex;
  align-items: center;
  padding: 17px 25px 15px;
  border-radius: 15px;
  box-shadow: 9px -3px 0 0 #9e9e9e;
  border: solid 4px #008bb9;
  background-color: #fff; }
  .checkGroup + .checkGroup {
    margin-top: 30px; }
  .checkGroup-pic {
    flex: 0 0 auto;
    width: 175px;
    margin-right: 35px;
    font-size: 19px;
    font-weight: bold;
    color: #008bb9;
    text-align: center; }
    .checkGroup-pic img {
      margin-bottom: 5px; }
  .checkGroup-content {
    display: flex;
    flex-wrap: wrap;
    margin: -15px -20px; }
  .checkGroup-item {
    margin: 15px 20px; }
  @media only screen and (max-width: 1280px) {
    .checkGroup-pic {
      width: 145px;
      margin-right: 25px;
      font-size: 16px; }
      .checkGroup-pic img {
        width: 80px; }
    .checkGroup-content {
      margin: -12px -15px; }
    .checkGroup-item {
      margin: 12px 15px; } }
  @media only screen and (max-width: 767px) {
    .checkGroup {
      padding: 15px 15px 12px;
      border-width: 3px;
      box-shadow: 6px -3px 0 0 #9e9e9e; }
      .checkGroup-pic {
        width: 130px;
        margin-right: 20px;
        font-size: 14px; }
        .checkGroup-pic img {
          width: 60px; }
      .checkGroup-content {
        margin: -8px -10px; }
      .checkGroup-item {
        margin: 8px 10px; } }

ol {
  margin: 0;
  padding-left: 26px;
  list-style: decimal-leading-zero; }

.rules {
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  color: #707070;
  word-wrap: break-word; }
  .rules + .rules {
    margin-top: 50px; }
  @media only screen and (max-width: 1280px) {
    .rules {
      font-size: 16px; }
      .rules + .rules {
        margin-top: 30px; } }
  @media only screen and (max-width: 767px) {
    .rules {
      font-size: 15px;
      line-height: 1.8; }
      .rules + .rules {
        margin-top: 25px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

.bold {
  font-weight: bold; }

.hidden {
  display: none; }

@media only screen and (min-width: 1024px) {
  .mbOnly {
    display: none; } }

@media only screen and (max-width: 767px) {
  .pcOnly {
    display: none; } }
