html,
body {
  font-family: "Noto Sans TC", sans-serif, Arial, "Microsoft JhengHei", Helvetica;
  font-size: 16px;
  line-height: 1.5;
  color: #000; }

a,
button {
  outline: none; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

html,
body {
  height: 100%; }

/* ------------------------------- Header ------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 20px 25px 20px 50px;
  box-shadow: 0 0 46px 0 rgba(0, 0, 0, 0.28);
  background-color: #fff;
  z-index: 99; }
  .header-logo a {
    display: block;
    width: 149px; }
    .header-logo a img {
      width: 100%; }
  .header-burger {
    display: none;
    width: 30px;
    height: 30px;
    background-image: url(../images/icon/menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .header.open .header-burger {
    background-image: url(../images/icon/cross.svg); }
  @media only screen and (max-width: 1439px) {
    .header {
      height: 68px;
      padding: 12px 10px 12px 30px; }
      .header-logo a {
        width: 110px; } }
  @media only screen and (max-width: 1023px) {
    .header {
      height: 60px;
      padding: 12px 20px; }
      .header-logo a {
        width: 90px; }
      .header-burger {
        display: block; }
      .header-nav {
        position: fixed;
        top: 60px;
        left: 0;
        transform: translateX(-100%);
        box-sizing: border-box;
        width: 100%;
        height: calc(100% - 60px);
        border-top: 1px solid #d3d3d4;
        background-color: #fff;
        opacity: 0;
        z-index: 90;
        transition: all .4s; }
      .header.open .header-nav {
        transform: none;
        opacity: 1; } }

.nav {
  display: flex;
  align-items: center; }
  .nav-item {
    padding: 8px 45px;
    font-size: 18px;
    text-decoration: none;
    color: #000; }
    .nav-item + .nav-item {
      border-left: 1px solid #8b8b8b; }
    .nav-item:hover {
      color: #0091b1; }
  @media only screen and (max-width: 1439px) {
    .nav-item {
      padding: 3px 30px;
      font-size: 18px; } }
  @media only screen and (max-width: 1023px) {
    .nav {
      box-sizing: border-box;
      display: block;
      max-width: 500px;
      margin: auto;
      padding: 50px; }
      .nav-item {
        display: block;
        padding: 20px 30px;
        text-align: center; }
        .nav-item + .nav-item {
          border-left: none;
          border-top: 1px solid #8b8b8b; } }

/* ------------------------------- Main ------------------------------- */
.main {
  padding-top: 100px;
  overflow: hidden; }
  @media only screen and (max-width: 1439px) {
    .main {
      padding-top: 68px; } }
  @media only screen and (max-width: 1023px) {
    .main {
      padding-top: 60px; } }

/* ------------------------------- Footer ------------------------------- */
.footer {
  text-align: center; }
  .footer-name {
    padding: 10px;
    color: #848484; }
  .footer-content {
    background-color: #efeeee; }
  .footer-wrap {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    text-align: left; }
  .footer-logo {
    flex: 0 0 auto;
    margin-right: 108px; }
    .footer-logo a {
      display: inline-block; }
    .footer-logo img {
      width: 150px; }
  .footer-links {
    display: flex;
    margin-right: 38px;
    padding: 30px 0; }
    .footer-links ul {
      min-width: 155px;
      margin: 0;
      padding: 0;
      list-style: none; }
      .footer-links ul + ul {
        margin-left: 50px; }
      .footer-links ul li:first-child {
        margin-bottom: 12px;
        font-size: 20px;
        font-weight: 500;
        color: #222; }
      .footer-links ul li + li {
        margin-top: 10px; }
      .footer-links ul li a {
        color: #8b8b8b;
        text-decoration: none; }
        .footer-links ul li a:hover {
          text-decoration: underline; }
  .footer-social {
    padding: 22px 0; }
    .footer-social a {
      display: inline-block;
      width: 42px;
      height: 42px; }
      .footer-social a:hover {
        opacity: 0.7; }
      .footer-social a + a {
        margin-left: 10px; }
      .footer-social a img {
        width: 100%; }
  .footer-copyRight {
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    background-image: linear-gradient(to right, #F8D074, #56B770, #1A8FAD); }
  @media only screen and (max-width: 1580px) {
    .footer-name {
      font-size: 14px; } }
  @media only screen and (max-width: 1023px) {
    .footer-wrap {
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px; }
    .footer-logo {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center; }
      .footer-logo img {
        width: 90px; }
    .footer-links {
      padding: 5px 0; }
      .footer-links ul + ul {
        margin-left: 30px; }
      .footer-links ul li {
        font-size: 12px; }
        .footer-links ul li:first-child {
          margin-bottom: 8px;
          font-size: 16px; }
        .footer-links ul li + li {
          margin-top: 5px; }
    .footer-social {
      padding: 0; }
      .footer-social a {
        width: 30px;
        height: 30px; } }
  @media only screen and (max-width: 767px) {
    .footer-wrap {
      align-items: center;
      justify-content: space-between; }
    .footer-logo {
      order: 1;
      width: auto;
      margin-bottom: 0; }
    .footer-links {
      order: 3;
      flex: 0 0 100%;
      justify-content: space-between;
      margin-right: 0;
      margin-top: 20px;
      padding: 0; }
      .footer-links ul {
        min-width: auto; }
        .footer-links ul + ul {
          margin-left: 25px; }
    .footer-social {
      order: 2; } }

/* ------------------------------- Floating tool ------------------------------- */
.gotop {
  position: fixed; }

.btn {
  box-sizing: border-box;
  display: inline-block;
  height: 36px;
  padding: 4px 28px;
  font-size: 17px;
  font-weight: 500;
  color: #0091b1;
  text-decoration: none;
  border-radius: 18px;
  border: solid 1px #149cb3;
  background-image: linear-gradient(to right, #fdce63, #3abd67, #0094ac 50%, #fff 55%, #fff 100%);
  background-size: 220%;
  background-position: 100% 0;
  transition: .3s; }
  .btn:hover {
    color: #fff;
    border-color: #fff;
    background-position: 0 0; }
  @media only screen and (max-width: 1023px) {
    .btn {
      height: 29px;
      padding: 2px 20px;
      font-size: 15px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

b {
  font-weight: 500; }

@media only screen and (min-width: 768px) {
  .mbOnly {
    display: none; } }

@media only screen and (max-width: 767px) {
  .padOnly {
    display: none; } }
