html,
body {
  font-family: "Noto Sans TC", sans-serif, Arial, "Microsoft JhengHei", Helvetica;
  font-size: 16px;
  line-height: 1.5;
  color: #000; }

a,
button {
  outline: none; }

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

html,
body {
  height: 100%; }

.container {
  min-height: 100%;
  overflow: hidden; }

/* ------------------------------- Header ------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 0 16px 9px rgba(188, 121, 111, 0.3);
  background-color: #bc796f;
  z-index: 99; }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1640px;
    margin: 0 auto; }
  .header-logo {
    flex: 0 0 auto;
    display: block;
    font-size: 0; }
    .header-logo img {
      width: 160px; }
  .header-menu {
    display: flex;
    align-items: center;
    font-size: 20px; }
    .header-menu a {
      margin-left: 42px;
      padding: 7px 24px;
      color: #bc796f;
      text-decoration: none;
      background-color: #fff; }
  .header-burger {
    display: none; }
  @media only screen and (min-width: 1024px) {
    .header-menu a {
      transition: .3s; }
      .header-menu a:hover {
        color: #fff;
        box-shadow: inset 0 0 0 1px #fff;
        background-color: #bc796f; } }
  @media only screen and (max-width: 1280px) {
    .header {
      padding: 12px 20px; }
      .header-logo img {
        width: 120px; }
      .header-menu {
        font-size: 18px; }
        .header-menu a {
          margin-left: 28px;
          padding: 5px 20px; } }
  @media only screen and (max-width: 767px) {
    .header {
      padding: 10px 16px; }
      .header-logo img {
        width: 80px; }
      .header-menu {
        flex: 1;
        justify-content: flex-end;
        font-size: 15px; }
        .header-menu a {
          margin-left: 0;
          padding: 4px 10px; }
      .header-burger {
        display: block;
        margin-left: 16px; }
        .header-burger button {
          display: block;
          width: 30px;
          height: 30px;
          background: url(../images/icon/burger.svg) no-repeat center/20px;
          transition: .3s; }
        .-anchorOpen .header-burger button {
          background-image: url(../images/icon/cross.svg); } }

.anchor button {
  position: relative;
  padding: 10px 27px;
  color: #fff; }
  .anchor button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(../images/icon/star.svg) no-repeat center/contain; }
  .anchor button + button {
    margin-left: 27px; }

@media only screen and (min-width: 1024px) {
  @keyframes star {
    from {
      transform: rotate(0); }
    to {
      transform: rotate(360deg); } }
  .anchor button:hover::before {
    animation: star 3s linear infinite; } }

@media only screen and (max-width: 1280px) {
  .anchor button {
    padding: 8px 20px; }
    .anchor button::before {
      width: 18px;
      height: 18px; }
    .anchor button + button {
      margin-left: 16px; } }

@media only screen and (max-width: 767px) {
  .anchor {
    position: fixed;
    top: 50px;
    left: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    box-shadow: 0 0 16.3px 8.8px rgba(188, 121, 111, 0.25);
    border-top: 1px solid #cb8c83;
    background-color: #bc796f;
    opacity: 0;
    pointer-events: none;
    transform: scaleY(0);
    transition: .3s;
    transform-origin: top center; }
    .anchor button {
      flex: 0 0 auto;
      padding: 5px 18px;
      text-align: left; }
      .anchor button::before {
        width: 15px;
        height: 15px; }
      .anchor button + button {
        margin-left: 0; }
    .-anchorOpen .anchor {
      opacity: 1;
      pointer-events: visible;
      transform: scaleY(1); } }

/* ------------------------------- Main ------------------------------- */
.main {
  margin-top: 100px; }
  @media only screen and (max-width: 1280px) {
    .main {
      margin-top: 69px; } }
  @media only screen and (max-width: 767px) {
    .main {
      margin-top: 50px; } }

/* ------------------------------- Footer ------------------------------- */
.footer {
  padding: 13px;
  color: #767676;
  text-align: center;
  background-color: #e4e4e4; }
  @media only screen and (max-width: 1280px) {
    .footer {
      padding: 10px;
      font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: 8px;
      font-size: 12px; } }

/* ------------------------------- Floating tool ------------------------------- */
.banner {
  position: relative;
  display: flex;
  overflow: hidden; }
  .banner::after {
    content: '';
    position: absolute;
    bottom: -0.2%;
    left: 50%;
    transform: translateX(-50%);
    width: 64.6875%;
    height: 14.14286%;
    background: url(../images/logo/name-wt.png) no-repeat center/contain; }
  .banner-pic {
    flex: 0 0 auto;
    width: 50%; }
    .banner-pic img {
      width: 100%; }
  .banner-block {
    position: relative;
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 50%;
    padding: 6.25% 13.54167% 0 1.71875%;
    font-size: 50vw;
    color: #fff;
    text-align: center; }
    .banner-block::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 114.58333%;
      height: 100%;
      background: url(../images/bg/block.png) no-repeat center/cover; }
    .banner-block > div {
      position: relative;
      z-index: 1; }
  .banner-title {
    display: flex;
    align-items: center;
    font-size: 7.8125%; }
    .banner-title span {
      flex: 0 0 auto;
      margin: 0 3%; }
    .banner-title::before, .banner-title::after {
      content: '';
      flex: 1;
      height: 2px;
      background-color: #fff; }
  .banner-name {
    font-size: 9.89583%;
    text-shadow: 0.03em 0.05em 0 #9b5146; }
  .banner-en {
    margin-right: -0.16em;
    font-size: 2.70833%;
    letter-spacing: 0.16em; }
  .banner-desc {
    margin: 7% 1% 0 1%;
    padding: 1%;
    font-size: 2.08333%;
    font-weight: bold;
    color: #724444;
    letter-spacing: 0.1em;
    background-color: #fff; }
  @media only screen and (max-width: 1023px) {
    .banner::after {
      width: 50%;
      height: 11%; }
    .banner-block {
      padding: 3% 2% 0 0.6%;
      font-size: 66vw; }
    .banner-title {
      margin: 0 2.3%; }
      .banner-title::before, .banner-title::after {
        height: 1px; }
    .banner-desc {
      margin: 7% 2% 0 2%; } }
  @media only screen and (max-width: 767px) {
    .banner {
      flex-direction: column-reverse; }
      .banner::after {
        bottom: 3%;
        left: 100%;
        transform: rotate(-90deg);
        transform-origin: left bottom;
        width: 69%;
        height: 4%; }
      .banner-pic {
        width: 100%; }
      .banner-block {
        width: 100%;
        margin-bottom: -9%;
        padding: 6% 3.5% 15% 3.5%;
        font-size: 133vw; }
        .banner-block::before {
          width: 100%;
          background-image: url(../images/bg/block-mb.png);
          background-position: center bottom; }
      .banner-title {
        margin: 0 1%; }
      .banner-desc {
        margin: 6% 0 0 0; } }

.block {
  padding: 90px 0; }
  .block-wrap {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px; }
  .block-title {
    margin-bottom: 70px;
    text-align: center; }
    .block-title span {
      display: inline-block;
      padding: 0 30px 26px;
      font-size: 36px;
      font-weight: 500;
      border-bottom: 2px solid #000; }
  .block.-intro {
    background: url(../images/logo/name.png) no-repeat bottom -1px right/54.47917%; }
  .block.-schedule {
    background-color: #e5e1dd; }
  .block.-schedule .block-wrap {
    max-width: 1085px; }
  .block.-schedule .block-title span {
    color: #bc796f;
    border-color: #bc796f; }
  .block.-content {
    background: url(../images/bg/ball.jpg) no-repeat center/cover; }
  .block.-content .block-wrap {
    max-width: 1085px; }
  .block.-summary {
    background: url(../images/bg/woman.jpg) no-repeat center/cover; }
  @media only screen and (max-width: 1023px) {
    .block {
      padding: 70px 0; }
      .block-title {
        margin-bottom: 50px; }
        .block-title span {
          padding: 0 25px 18px;
          font-size: 30px; } }
  @media only screen and (max-width: 767px) {
    .block {
      padding: 40px 0; }
      .block-wrap {
        padding: 0 16px; }
      .block-title {
        margin-bottom: 30px; }
        .block-title span {
          padding: 0 20px 15px;
          font-size: 26px; }
      .block.-intro {
        padding-bottom: 50px;
        background-size: 60%; } }

.intro {
  display: flex;
  justify-content: center;
  align-items: center; }
  .intro-pic {
    flex: 0 0 auto;
    width: 33.40278%; }
    .intro-pic img {
      width: 100%; }
  .intro-content {
    flex: 0 1 auto;
    margin-left: 5%;
    font-size: 24px;
    line-height: 2.5;
    color: #724444; }
    .intro-content p {
      font-size: 32px;
      font-weight: 500;
      color: #bb776d; }
  @media only screen and (max-width: 1280px) {
    .intro-content {
      font-size: 20px; }
      .intro-content p {
        font-size: 28px; } }
  @media only screen and (max-width: 1023px) {
    .intro-pic {
      width: 32%; }
    .intro-content {
      margin-left: 4%;
      font-size: 16px;
      line-height: 2.2; }
      .intro-content p {
        font-size: 24px; } }
  @media only screen and (max-width: 767px) {
    .intro {
      display: block;
      max-width: 435px;
      margin: 0 auto; }
      .intro-pic {
        display: flex;
        align-items: flex-end;
        width: 100%; }
        .intro-pic img {
          width: 160px; }
        .intro-pic p {
          flex: 1;
          margin-left: 18px;
          padding-bottom: 15px;
          font-size: 22px;
          font-weight: 500;
          color: #bb776d; }
      .intro-content {
        margin-left: 0;
        margin-top: 20px;
        font-size: 15px;
        line-height: 1.5; } }

.info {
  display: flex; }
  .info-item {
    flex: 1;
    padding: 40px 20px;
    text-align: center;
    border-radius: 32px;
    box-shadow: 3px 5.2px 15px 0 #a7a6a6;
    background-color: #fff; }
    .info-item + .info-item {
      margin-left: 64px; }
  .info-icon {
    margin-bottom: 30px; }
    .info-icon img {
      height: 120px; }
    .info-icon.-timetable img {
      transform: translateY(5px); }
  .info-text {
    font-size: 22px;
    font-weight: 500;
    color: #444; }
    .info-text span {
      color: #a36361; }
  @media only screen and (max-width: 1280px) {
    .info-item {
      padding: 34px 20px; }
      .info-item + .info-item {
        margin-left: 40px; }
    .info-icon {
      margin-bottom: 20px; }
      .info-icon img {
        height: 100px; }
    .info-text {
      font-size: 20px; } }
  @media only screen and (max-width: 1023px) {
    .info-item {
      padding: 25px 20px;
      border-radius: 28px; }
      .info-item + .info-item {
        margin-left: 30px; }
    .info-icon {
      margin-bottom: 15px; }
      .info-icon img {
        height: 70px; }
    .info-text {
      font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .info {
      display: block; }
      .info-item {
        display: flex;
        align-items: center;
        max-width: 260px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 24px; }
        .info-item + .info-item {
          margin-left: auto;
          margin-top: 20px; }
      .info-icon {
        margin-bottom: 0;
        margin-right: 20px; }
        .info-icon img {
          height: 60px; }
        .info-icon.-timetable img {
          transform: translateY(3px); }
      .info-text {
        font-size: 16px;
        text-align: left; } }

.schedule {
  margin-top: 90px; }
  .schedule-head {
    display: flex;
    padding: 10px 40px;
    font-size: 24px;
    color: #444;
    text-align: left; }
  .schedule-th, .schedule-td {
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 0 12px;
    font-weight: normal; }
    .schedule-th:nth-child(1), .schedule-td:nth-child(1) {
      width: 11%; }
    .schedule-th:nth-child(2), .schedule-td:nth-child(2) {
      width: 47%; }
    .schedule-th:nth-child(3), .schedule-td:nth-child(3) {
      width: 42%; }
  .schedule-body {
    padding: 5px 40px;
    font-size: 22px;
    border-radius: 20px;
    box-shadow: 3px 5.2px 12px 0 #a7a6a6;
    background-color: #fff; }
  .schedule-tr {
    display: flex;
    padding: 17px 0; }
    .schedule-tr + .schedule-tr {
      border-top: 1px solid #bbb7b3; }
  @media only screen and (max-width: 1280px) {
    .schedule {
      margin-top: 80px; }
      .schedule-head {
        font-size: 22px; }
      .schedule-body {
        font-size: 20px; } }
  @media only screen and (max-width: 1023px) {
    .schedule {
      margin-top: 60px; }
      .schedule-head {
        padding: 10px 20px;
        font-size: 18px; }
      .schedule-th, .schedule-td {
        padding: 0 5px; }
      .schedule-body {
        padding: 3px 20px;
        font-size: 16px; }
      .schedule-tr {
        padding: 12px 0; } }
  @media only screen and (max-width: 767px) {
    .schedule {
      margin-top: 40px; }
      .schedule-head {
        padding: 5px 12px;
        font-size: 17px; }
      .schedule-th:nth-child(1), .schedule-td:nth-child(1) {
        width: 14%;
        padding-left: 0; }
      .schedule-th:nth-child(2), .schedule-td:nth-child(2) {
        width: 43%; }
      .schedule-th:nth-child(3), .schedule-td:nth-child(3) {
        width: 43%;
        padding-right: 0; }
      .schedule-body {
        padding: 3px 12px;
        font-size: 15px;
        border-radius: 15px; }
      .schedule-tr {
        padding: 10px 0; } }

.subject {
  display: flex;
  padding: 25px 48px;
  border-radius: 32px;
  box-shadow: 0 0 12px 0 #ddd6d0;
  background-color: #fffaf6; }
  .subject + .subject {
    margin-top: 30px; }
  .subject-head {
    flex: 0 0 auto;
    width: 26%; }
  .subject-num {
    display: inline-block;
    padding: 0 13px 1px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
    background-color: #d4b4af; }
  .subject-title {
    margin-top: 15px;
    font-size: 31px;
    font-weight: 500;
    line-height: 1.2;
    color: #444; }
  .subject-name {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 500;
    color: #845952; }
  .subject-content {
    flex: 1;
    margin-left: 10px;
    padding-left: 30px;
    font-size: 18px;
    color: #444;
    border-left: 2px solid #d4b4af; }
    .subject-content ul {
      margin-top: 0.5em;
      color: #5b5b5b; }
  @media only screen and (max-width: 1280px) {
    .subject {
      padding: 22px 40px; }
      .subject + .subject {
        margin-top: 20px; }
      .subject-num {
        font-size: 16px;
        border-radius: 8px; }
      .subject-title {
        margin-top: 12px;
        font-size: 28px; }
      .subject-name {
        margin-top: 15px;
        font-size: 16px; }
      .subject-content {
        font-size: 16px; } }
  @media only screen and (max-width: 1023px) {
    .subject {
      padding: 20px;
      border-radius: 25px; }
      .subject-head {
        width: 31%; }
      .subject-num {
        font-size: 15px; }
      .subject-title {
        font-size: 26px; }
      .subject-name {
        font-size: 15px; }
      .subject-content {
        padding-left: 22px;
        font-size: 15px; } }
  @media only screen and (max-width: 767px) {
    .subject {
      display: block;
      border-radius: 20px; }
      .subject-head {
        width: 100%; }
      .subject-num {
        font-size: 14px; }
      .subject-title {
        font-size: 24px; }
      .subject-name {
        margin-top: 12px;
        font-size: 15px; }
      .subject-content {
        margin-left: 0;
        margin-top: 15px;
        padding-left: 0;
        padding-top: 15px;
        font-size: 15px;
        border-left: none;
        border-top: 2px solid #d4b4af; } }

.summary {
  text-align: center; }
  .summary-title img {
    max-width: 878px;
    width: 100%; }
  .summary-text {
    margin-top: 50px;
    font-size: 22px;
    line-height: 2;
    letter-spacing: 0.5px;
    color: #fff; }
  .summary-btn {
    margin-top: 40px; }
    .summary-btn a {
      display: inline-block;
      padding: 5px 68px 6px;
      font-size: 27px;
      font-weight: 500;
      color: #fff;
      text-decoration: none;
      border-radius: 26px;
      background-color: #724444; }
  @media only screen and (min-width: 1024px) {
    .summary-btn a {
      transition: .3s; }
      .summary-btn a:hover {
        color: #724444;
        background-color: #fff; } }
  @media only screen and (max-width: 1280px) {
    .summary-title img {
      max-width: 700px; }
    .summary-text {
      margin-top: 40px;
      font-size: 18px; }
    .summary-btn {
      margin-top: 30px; }
      .summary-btn a {
        padding: 5px 56px 6px;
        font-size: 24px; } }
  @media only screen and (max-width: 1023px) {
    .summary-title img {
      max-width: 500px; }
    .summary-text {
      margin-top: 30px;
      font-size: 16px; }
    .summary-btn {
      margin-top: 20px; }
      .summary-btn a {
        padding: 4px 50px 5px;
        font-size: 20px; } }
  @media only screen and (max-width: 767px) {
    .summary-text {
      margin-top: 20px;
      font-size: 15px; }
    .summary-btn {
      margin-top: 20px; }
      .summary-btn a {
        padding: 4px 46px 5px;
        font-size: 18px; } }

ul {
  margin: 0;
  -webkit-padding-start: 1.5em;
          padding-inline-start: 1.5em; }
  ul li + li {
    margin-top: 0.5em; }

.tab-nav {
  display: flex; }
  .tab-nav button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 20px;
    line-height: 1.3;
    color: #fff;
    border-bottom: 5px solid #fff;
    transition: .3s; }
    .tab-nav button.-active {
      color: #724444;
      border-color: #724444; }

.tab-icon {
  position: relative;
  margin-right: 13px;
  font-size: 0; }
  .tab-icon img {
    height: 65px;
    transition: .3s; }
    .tab-icon img:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0; }
    .-active .tab-icon img:nth-child(2) {
      opacity: 1; }

.tab-title {
  font-size: 18px;
  text-align: left; }
  .tab-title p {
    font-size: 31px; }

.tab-panel {
  display: none;
  margin-top: 35px; }
  .tab-panel.-active {
    display: block; }

@media only screen and (max-width: 1280px) {
  .tab-nav button {
    padding: 0 0 16px;
    border-width: 3px; }
  .tab-icon {
    margin-right: 10px; }
    .tab-icon img {
      height: 56px; }
  .tab-title {
    font-size: 16px; }
    .tab-title p {
      font-size: 28px; } }

@media only screen and (max-width: 1023px) {
  .tab-icon img {
    height: 50px; }
  .tab-title {
    font-size: 15px; }
    .tab-title p {
      font-size: 24px; }
  .tab-panel {
    margin-top: 30px; } }

@media only screen and (max-width: 767px) {
  .tab-nav button {
    display: block;
    padding: 0 0 10px; }
  .tab-icon {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 5px; }
    .tab-icon img {
      height: 45px; }
  .tab-title {
    font-size: 14px;
    text-align: center; }
    .tab-title p {
      font-size: 16px; }
  .tab-panel {
    margin-top: 20px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

.bold {
  font-weight: bold; }

@media only screen and (min-width: 768px) {
  .mbOnly {
    display: none; } }

@media only screen and (max-width: 767px) {
  .pcOnly {
    display: none; } }
